:root {
  --rot-cek-out: rotate-out-cek-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  --rot-cek-in: rotate-in-cek-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.theme-light {
--call-var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8011 2.56967C10.8792 2.95444 10.6305 3.32966 10.2458 3.40776C6.81159 4.10481 4.10481 6.81156 3.40771 10.2457C3.3296 10.6305 2.95437 10.8791 2.56961 10.801C2.18484 10.7229 1.93624 10.3477 2.01435 9.9629C2.82504 5.96912 5.96917 2.82503 9.96297 2.0144C10.3477 1.9363 10.723 2.1849 10.8011 2.56967Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.56976 13.199C2.95452 13.1209 3.32975 13.3695 3.40786 13.7543C4.10496 17.1885 6.81174 19.8952 10.2459 20.5923C10.6307 20.6704 10.8793 21.0456 10.8012 21.4304C10.7231 21.8151 10.3479 22.0638 9.96312 21.9857C5.96932 21.175 2.82519 18.0309 2.0145 14.0371C1.9364 13.6524 2.18499 13.2772 2.56976 13.199Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1989 2.56962C13.277 2.18485 13.6523 1.93625 14.037 2.01435C18.0308 2.82498 21.175 5.96907 21.9857 9.96285C22.0638 10.3476 21.8152 10.7228 21.4304 10.801C21.0456 10.8791 20.6704 10.6305 20.5923 10.2457C19.8952 6.81151 17.1884 4.10476 13.7542 3.40771C13.3695 3.32961 13.1208 2.95439 13.1989 2.56962Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.4304 13.199C21.8152 13.2772 22.0638 13.6524 21.9857 14.0371C21.175 18.0309 18.0308 21.175 14.037 21.9857C13.6523 22.0637 13.277 21.8151 13.1989 21.4304C13.1208 21.0456 13.3695 20.6704 13.7542 20.5923C17.1884 19.8952 19.8952 17.1885 20.5923 13.7543C20.6704 13.3695 21.0456 13.1209 21.4304 13.199Z' fill='%231C274C'%3E%3C/path%3E%3Cpath opacity='0.5' d='M11.9998 19.5826C16.1877 19.5826 19.5826 16.1877 19.5826 11.9998C19.5826 7.81193 16.1877 4.41699 11.9998 4.41699C7.81193 4.41699 4.41699 7.81193 4.41699 11.9998C4.41699 16.1877 7.81193 19.5826 11.9998 19.5826Z' fill='%231C274C'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
--var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath d='M861 656.7l144.6-144.6L861 367.6V163.1H656.6L512 18.6 367.4 163.1H163v204.5L18.4 512.1 163 656.7v204.4h204.4L512 1005.7l144.6-144.6H861z' fill='%23fcebf9'%3E%3C/path%3E%3Cpath d='M512 1015.7c-2.6 0-5.1-1-7.1-2.9L363.3 871.1H163c-5.5 0-10-4.5-10-10V660.8L11.4 519.2c-1.9-1.9-2.9-4.4-2.9-7.1 0-2.7 1.1-5.2 2.9-7.1L153 363.4V163.1c0-5.5 4.5-10 10-10h200.3L504.9 11.5c1.9-1.9 4.4-2.9 7.1-2.9s5.2 1.1 7.1 2.9l141.6 141.6H861c5.5 0 10 4.5 10 10v200.3L1012.6 505c1.9 1.9 2.9 4.4 2.9 7.1 0 2.7-1.1 5.2-2.9 7.1L871 660.8v200.3c0 5.5-4.5 10-10 10H660.7l-141.6 141.6c-2 2-4.5 3-7.1 3zM173 851.1h194.4c2.7 0 5.2 1.1 7.1 2.9L512 991.6l137.5-137.5c1.9-1.9 4.4-2.9 7.1-2.9H851V656.7c0-2.7 1.1-5.2 2.9-7.1l137.5-137.5-137.5-137.5c-1.9-1.9-2.9-4.4-2.9-7.1V173.1H656.6c-2.7 0-5.2-1.1-7.1-2.9L512 32.7 374.5 170.2c-1.9 1.9-4.4 2.9-7.1 2.9H173v194.4c0 2.7-1.1 5.2-2.9 7.1L32.6 512.1l137.5 137.5c1.9 1.9 2.9 4.4 2.9 7.1v194.4z' fill='%231C274C'%3E%3C/path%3E%3Cpath d='M512 512.1m-257.8 0a257.8 257.8 0 1 0 515.6 0 257.8 257.8 0 1 0-515.6 0Z' fill='%23fcebf9'%3E%3C/path%3E%3Cpath d='M512 779.9c-71.5 0-138.8-27.9-189.4-78.4-50.6-50.6-78.4-117.8-78.4-189.4s27.9-138.8 78.4-189.4c50.6-50.6 117.8-78.4 189.4-78.4 71.5 0 138.8 27.9 189.4 78.4 50.6 50.6 78.4 117.8 78.4 189.4S752 650.9 701.4 701.5 583.5 779.9 512 779.9z m0-515.6c-66.2 0-128.4 25.8-175.2 72.6-46.8 46.8-72.6 109-72.6 175.2s25.8 128.4 72.6 175.2c46.8 46.8 109 72.6 175.2 72.6 66.2 0 128.4-25.8 175.2-72.6 46.8-46.8 72.6-109 72.6-175.2S734 383.7 687.2 336.9c-46.8-46.8-109-72.6-175.2-72.6z' fill='%23fcebf9'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.theme-dark {
 --var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath d='M861 656.7l144.6-144.6L861 367.6V163.1H656.6L512 18.6 367.4 163.1H163v204.5L18.4 512.1 163 656.7v204.4h204.4L512 1005.7l144.6-144.6H861z' fill='%23fcebf9'%3E%3C/path%3E%3Cpath d='M512 1015.7c-2.6 0-5.1-1-7.1-2.9L363.3 871.1H163c-5.5 0-10-4.5-10-10V660.8L11.4 519.2c-1.9-1.9-2.9-4.4-2.9-7.1 0-2.7 1.1-5.2 2.9-7.1L153 363.4V163.1c0-5.5 4.5-10 10-10h200.3L504.9 11.5c1.9-1.9 4.4-2.9 7.1-2.9s5.2 1.1 7.1 2.9l141.6 141.6H861c5.5 0 10 4.5 10 10v200.3L1012.6 505c1.9 1.9 2.9 4.4 2.9 7.1 0 2.7-1.1 5.2-2.9 7.1L871 660.8v200.3c0 5.5-4.5 10-10 10H660.7l-141.6 141.6c-2 2-4.5 3-7.1 3zM173 851.1h194.4c2.7 0 5.2 1.1 7.1 2.9L512 991.6l137.5-137.5c1.9-1.9 4.4-2.9 7.1-2.9H851V656.7c0-2.7 1.1-5.2 2.9-7.1l137.5-137.5-137.5-137.5c-1.9-1.9-2.9-4.4-2.9-7.1V173.1H656.6c-2.7 0-5.2-1.1-7.1-2.9L512 32.7 374.5 170.2c-1.9 1.9-4.4 2.9-7.1 2.9H173v194.4c0 2.7-1.1 5.2-2.9 7.1L32.6 512.1l137.5 137.5c1.9 1.9 2.9 4.4 2.9 7.1v194.4z' fill='%23766EEB'%3E%3C/path%3E%3Cpath d='M512 512.1m-257.8 0a257.8 257.8 0 1 0 515.6 0 257.8 257.8 0 1 0-515.6 0Z' fill='%23fcebf9'%3E%3C/path%3E%3Cpath d='M512 779.9c-71.5 0-138.8-27.9-189.4-78.4-50.6-50.6-78.4-117.8-78.4-189.4s27.9-138.8 78.4-189.4c50.6-50.6 117.8-78.4 189.4-78.4 71.5 0 138.8 27.9 189.4 78.4 50.6 50.6 78.4 117.8 78.4 189.4S752 650.9 701.4 701.5 583.5 779.9 512 779.9z m0-515.6c-66.2 0-128.4 25.8-175.2 72.6-46.8 46.8-72.6 109-72.6 175.2s25.8 128.4 72.6 175.2c46.8 46.8 109 72.6 175.2 72.6 66.2 0 128.4-25.8 175.2-72.6 46.8-46.8 72.6-109 72.6-175.2S734 383.7 687.2 336.9c-46.8-46.8-109-72.6-175.2-72.6z' fill='%23fcebf9'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
 --call-var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath fill-rule='nonzero' clip-rule='nonzero' d='M10.8011 2.56967C10.8792 2.95444 10.6305 3.32966 10.2458 3.40776C6.81159 4.10481 4.10481 6.81156 3.40771 10.2457C3.3296 10.6305 2.95437 10.8791 2.56961 10.801C2.18484 10.7229 1.93624 10.3477 2.01435 9.9629C2.82504 5.96912 5.96917 2.82503 9.96297 2.0144C10.3477 1.9363 10.723 2.1849 10.8011 2.56967Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.56976 13.199C2.95452 13.1209 3.32975 13.3695 3.40786 13.7543C4.10496 17.1885 6.81174 19.8952 10.2459 20.5923C10.6307 20.6704 10.8793 21.0456 10.8012 21.4304C10.7231 21.8151 10.3479 22.0638 9.96312 21.9857C5.96932 21.175 2.82519 18.0309 2.0145 14.0371C1.9364 13.6524 2.18499 13.2772 2.56976 13.199Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1989 2.56962C13.277 2.18485 13.6523 1.93625 14.037 2.01435C18.0308 2.82498 21.175 5.96907 21.9857 9.96285C22.0638 10.3476 21.8152 10.7228 21.4304 10.801C21.0456 10.8791 20.6704 10.6305 20.5923 10.2457C19.8952 6.81151 17.1884 4.10476 13.7542 3.40771C13.3695 3.32961 13.1208 2.95439 13.1989 2.56962Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.4304 13.199C21.8152 13.2772 22.0638 13.6524 21.9857 14.0371C21.175 18.0309 18.0308 21.175 14.037 21.9857C13.6523 22.0637 13.277 21.8151 13.1989 21.4304C13.1208 21.0456 13.3695 20.6704 13.7542 20.5923C17.1884 19.8952 19.8952 17.1885 20.5923 13.7543C20.6704 13.3695 21.0456 13.1209 21.4304 13.199Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath opacity='0.5' d='M11.9998 19.5826C16.1877 19.5826 19.5826 16.1877 19.5826 11.9998C19.5826 7.81193 16.1877 4.41699 11.9998 4.41699C7.81193 4.41699 4.41699 7.81193 4.41699 11.9998C4.41699 16.1877 7.81193 19.5826 11.9998 19.5826Z' fill='%23F1F1F1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
body.item-view .post .post-title-container {
  margin-top: 25px;
  display: block;
  text-align: center;
  position: relative;
 & > .post-title.entry-title{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  text-align: center;
  }
}

  .ayat-001 .number_ayat span::before{content:"١";}
  .ayat-002 .number_ayat span::before{content:"٢";}
  .ayat-003 .number_ayat span::before{content:"٣";}
  .ayat-004 .number_ayat span::before{content:"٤";}
  .ayat-005 .number_ayat span::before{content:"٥";}
  .ayat-006 .number_ayat span::before{content:"٦";}
  .ayat-007 .number_ayat span::before{content:"٧";}
/*==============================
  Section Ayat
===============================*/
.section-quran {

  /*== Info Surat ==*/
  & .info-date-surah {
    height: auto;
    left: 0;
    top: 1px;
    line-height: 1.6;
    padding: 3px 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25px var(--cl-df) solid;
    & > span {
      font-size: 40px;
      line-height: 1.6;
      color: var(--cl-df);
      font-family: 'Lateef', cursive;
    }
    & .date-bars {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      & span {
        color: var(--cl-df);
        font-family: 'Lato' , sans-serif;
        &:first-child {
          font-size: 19px;
          font-weight: bold;
          color: var(--cl-df);
        }
        &:last-child {
          font-size: 14px;
          color: var(--cl-df);
        }
        & b {
          margin-right: 10px;
        }
      }
    }
  }

  /*== Bismillah ==*/
  & .bismillah {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
    & span {
      font-size: 35px;
      color: var(--cl-bmlah);
      font-family: 'Lateef', cursive;
    }
  }
  
  /*== Content ==*/
  & .content-quran {
    & .quran-digital {
        margin-left: -40px;
        list-style: none;
        padding: 5px 10px;
	box-sizing: border-box;
        border-bottom: 0.50px #ccc solid;
      & + & {
        margin-top: 15px;
      }
      &:last-child {
        border-bottom: 0px transparent solid;
      }
      & div[class*="ayat-"] {
        text-align: right;
        margin-top: -125px;
        padding-top: 125px;
        position: relative;
        & .flex-alt {
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          & > span {
            width: calc(100% - 40px);
            padding: 5px;
            text-align: right;
            margin-top: -12px;
            font-size: 50px;
            line-height: 1.5;
            font-weight: 500;
            letter-spacing: 1px;
            text-shadow: none;
            color: var(--cl-qs-dgt);
            font-family: var(--ff-lateef);
          }
          & div.number_ayat {
            margin-top: 12px;
            width: 40px;
            height: 40px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            & span {
              z-index: 2;
              color: #111;
              display: block;
              font-size: 14px;
              margin-top: 0px;
              margin-right: 0px;
              font-weight: bold;
              position: absolute;
            }	
            &::before {
              content:'';
              width:40px;
              height: 40px;
              margin-top: 0;
              margin-right: 5px;
              display: block;
              z-index: 1;
              margin: 0px;
              position: absolute;
              border-radius: 0px;
              background: var(--var-number) center center / 40px no-repeat;
            }
          }
          & + p {
            font-size: 14px;
            text-align: right;
            line-height: 1.4;
            color: var(--cl-qs-dgt);
            border-bottom: 0px #111 solid;
            font-family: 'Merriweather', serif;
            & + p {
              font-size: 15px;
              line-height: 1.5;
              font-weight: 600;
              text-align: left;
              margin-bottom: 20px;
              padding-bottom: 15px;
              color: var(--cl-df);
              border-bottom: 0px #111 solid;
              font-family: var(--ff-roboto);/*'Quicksand' , sans-serif;*/
            }
          }
        }
      }
      & .respon-button {
        width: 100%;  
        min-height: 40px;  
        padding: 0px;  
        z-index: 4;  
        position: relative;
	text-align: right;
        height: auto;  
        display: flex;  
        padding-bottom: 0px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        & .juz-poin {
          display: inline-block;
          margin: 0px 5px 0px 0px;
          & .juz,& .poin {
            padding: 5px 10px;
            border: 0.25px var(--cl-bdr) solid;
            font-family: 'Quicksand' , sans-serif;
          }
          & .juz {
            font-weight: bold;
            color: var(--cl-qs-dgt);
            border-radius: 4px 0 0 4px;
            background-color: var(--bg-la);
          }
          & .poin {
            font-weight: bold;
            color: var(--cl-bit); 
            border-radius: 0 4px 4px 0;
            border-left: 0px #4E4DED solid;
            background-color: var(--bg-bit);
          }
        }
        & .link-ayat {
          font-weight: bold;
          border-radius: 4px;
          padding: 5px 10px;
          color: var(--cl-qs-dgt);
          border: 0.25px var(--cl-bdr) solid;
          /*color: var(--cl-bat);*/ 
          background-color: var(--bg-la);
          font-family: 'Quicksand' , sans-serif;
          &::after {
            content: "\e4bf";
            font-size: 14px;
            color: var(--cl-bdr); 
            font-weight: 500;
            font-family: FontAwesome; 
            margin-left: 7px;
            position: relative;
          }
        }
      }
    }
  }
}


/*==============================
  Section Tafsir
===============================*/
.section-tafsir {

}

/*==============================
  Section Qur'an Navigasi
===============================*/
.section-quran-navigasi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .quran-navigasi {
      z-index: 20;
      width: 100%;
      max-width: 800px;
      display: block;
      position: fixed;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
      bottom: 0px;
      background-color: var(--bg-navi);
      & .modeheight {
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;        
        & > label {
          margin: 0;
          padding: 0;
          height: 30px;
          width: 30px;
          min-width: 30px;
          max-width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          & svg {
            height: 30px;
            width: 30px;
          }
        }
      }
      & .quran-barsnavi {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
        @media (max-width: 640px){
          flex-direction: column;
        }
        & .navi-form {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: start;
	  & div[class*="form-"] {  
            & form {
	      position: relative; 
              display: flex; 
   /* padding-right: 39px;*/
   box-sizing: border-box;
   height: 39px;
   border: 0.50px var(--cl-border) solid; 
   border-radius: 5px; 
   overflow: hidden; 
   /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/  
   & select { 
    font-size: 14px;
        font-weight: 500;
    /* Reset Select */ 
    appearance: none; 
    outline: 0; 
    border: 0;  
    box-shadow: none; 
    /* Personalize */  
    flex: 1;  
    padding: 0 10px; 
    color: var(--cl-bg-nav);      
    background-color: transparent;   
   /* background-image: none; */
                cursor: pointer; 
                &::-ms-expand {
                  display: none;
                }
              }
            }
          }
          & .form-surat {
            height: 50px;
            width: calc(100% - 180px);   
            display: flex;
            align-items: center;
            justify-content: center; 
	    & form {
       width: calc(100% - 10px);
    &::after {
    content: '\f0d7';  
    position: absolute; 
    color: var(--cl-bg-nav); 
    top: 0;
    right: 0;
    height: 39px;
    padding: 10px 12px; 
    font-family: FontAwesome; 
   /* background-color: var(--bg-nav-bf); 
    background-color: #34495e;*/ 
    transition: .25s all ease;   
    pointer-events: none;
    }
   }
          }
          & .form-ayat {
            height: 50px;
            width: 80px;
            min-width: 80px;
            max-width: 80px;   
            display: flex;
            align-items: center;
            justify-content: center;
	    & form {
              max-width: 70px;
              min-width: 70px;
              &::after { 
                content: '\f107';  
    position: absolute; 
    color: var(--cl-bg-nav);
    top: 0;
    right: 0;
    height: 39px;
    padding: 10px 12px;
    font-family: FontAwesome;  
    /*background-color: var(--bg-nav-bf); 
    background-color: #34495e;*/  
    transition: .25s all ease; 
    pointer-events: none; 
  }
  }
          }
          & .btn-pass {
            height: 50px;
            width: 100px;
            min-width: 100px;
            max-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;    
            & button {
              margin: 0px auto;
              border: 0.5px var(--cl-border) solid;
              width: 39px;
              height: 39px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 5px;
              & svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        & .navi-link {
          width: 100%;
          height: 50px;      
          display: flex;
          align-items: center;
          justify-content: center;
          & a {
            margin: 5px 5px;
            height: 39px;
            width: calc(100% - 10px);
            border: 0.5px var(--cl-border) solid;
            border-radius: 5px;
            padding: 5px 5px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & span {
              color: #111;
              width: auto;
              font-size: 14px;
              font-weight: 500;
            }
            & svg {
              width: 20px;
              height: 20px;
              min-width: 20px;
              min-height: 20px;
            }
          }
        }
      }
      & .audioplay {
        width: 100%;
        height: 49.50px;
        border-top: 0.50px var(--cl-border) solid;
     /* background: red;*/
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      & .qoricall{
        z-index: -1;
        width: 100%;
        bottom: 0px;
        font-size: 12px;
    text-align: center;
    outline: none;
    position: absolute;
    border:none;
    background: transparent;
  }
      & .onplayer {
      width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
  & button {
               margin: 0px auto;
               border: 0px #ddd solid;
               width: 40px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
              background-color: transparent;
          border-radius: 5px;
              & svg {
                width: 30px;
                height: 30px;
                }
              }
  & .barsgress {
  width: 100%;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .progress {
  margin: 0;
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  background-color: var(--bg-view);
  border-radius: 10px 10px 10px 10px;
  & .progress-filled {
  width:50%;
  background: linear-gradient(to right, #B01DE8 , #df427a);
  flex:0;
  flex-basis: 0%;
  border-radius: 10px 10px 10px 10px;
  }
  }
        }
      }
    }
  } /*== Quran Navigasi End ==*/

  & .subselect_quran_audio {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: 130;
  left:0;
  right:0;
  bottom: 0; 
  background: rgba(25,25,25,0.4);
  opacity: 0.0;
  -webkit-transition: opacity 0.2s linear 0.05s;
  transition: opacity 0.2s linear 0.05s;
  transition: all 0.4s ease-in-out;
  -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  -webkit-transform:translateY(100%);
-ms-transform:translateY(100%);
transform:translateY(100%);
 & .audio-modal-content {
  z-index: 12;
  height: 500px;
  max-height: 90%;
  margin: 0;
  overflow-y: visible;
  max-width: 800px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  transition: 0.4s all;
  position: relative;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-bars);
  & .headbars {
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & button {
              margin: 0;
              border: 0px var(--cl-border) solid;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 50%;
              & svg {
                width: 30px;
                height: 30px;
              }
            }
    & .close_button {
      width: 40px;
      height: 40px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ddd;
      & svg {
        width: 28px;
        height: 28px;
      }
    }
  }
  & .content_quran_player {
  margin: 0;
  padding: 0;
  height: calc(100% - 50px);
  overflow: auto;
  & ul {
    margin-top: 0px;
    margin-left: -40px;
    list-style: none;
   & li {
     
     width: 100%;
     height: 50px;
    /* background: navy;*/
     position: relative;
     & .pp{
       top: 5px;
       left: 5px;
       background: navy;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       position: absolute;
       }
     & .cil {
       top: 10px;
       right: 10px;
       background: navy;
       width: 30px;
       height: 30px;
       border-radius: 5px;
       position: absolute;
       }
     }
    }
  & a {
    width: 100%;
    height: 50px;
    padding-left: 50px;
    padding-right: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    /*background: pink;*/
    border-bottom: 1px #111 solid;
    & span.name {
      color: #111;
      font-size: 17px;
      font-weight: 700;
      }
    }
  }
}
& .overlay {
      height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  left:0;
  right:0;
  top: 0; 
  background: rgba(25,25,25,0.4);
  opacity: 0.0;
    }
  } /*== SubSection Audio End ==*/
} /*== Section Quran Navigasi End ==*/


.show_info .subselect_quran_info,
.show_sett .subselect_quran_setting,
.show_audio .subselect_quran_audio {
  opacity: 1.0;
  transform: translate(0%,0%);
  -webkit-transform: translate(0%,0%);
  -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-timing-function:cubic-bezier(.4,0,.2,1);
}
/*==============================
  Section Ayat
===============================*/
.respon-button .juz-poin:hover ~ .juz-info,
.respon-button .juz-poin:focus ~ .juz-info {
    display: block;
  z-index: 50;
  opacity:1;
  
  left: 5px;
  /*background: navy;*/
  position: absolute;
  pointer-events:all;
  }
.respon-button .juz-info {
  color: #fff;
  
  min-height: 100px;
  max-height: 400px;
  display: block;
  align-items:center;
   z-index: -50;
  display: none;
  color: #fff;
  opacity:0;
  left: -99999px;
  
  position: fixed;
  /*margin-top: -50px;*/
  bottom: 50px;
  width: 230px;
  height: calc (100% - 50px);
  pointer-events:none;
  order:2;
  z-index:1;
  transition: background .4s ease-in-out;
  box-sizing:border-box;
 /* overflow:hidden;*/
  
  white-space:nowrap;
  
  & .juz-bars {
   
    &::before  {
  content: "";
   z-index: -55;
  position: absolute;
  /*margin-top: 10px;*/
  left: 70px;
  bottom: 0px;
      margin-left: 8.50px;
  margin-bottom: -18.90px;
  border-width: 11px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent;
}
    &::after  {
  content: "";
      z-index: 15;
  position: absolute;
  /*margin-top: 10px;*/
  left: 70px;
  bottom: 0px;
      margin-left: 7.50px;
  margin-bottom: -18.80px;
  border-width: 12px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
    }
  & .juz-date{
    z-index: 5;
    width: 100%;
    height: 150px;
    background:#333;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px;
    border:#ddd solid var(--size-border-df);
    & .jnumb {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 5px;
 /* flex-direction: column;*/
  }
  & .jdate {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & span:nth-of-type(2) {
    color: red;
   font-size: 18px;
   font-weight: 400;
  }
  }
}
  }

/*==============================
  Section Tafsir
===============================*/
.section-tafsir {
 & .tafsir {
        display: none;
        background-color:#ffeecc;
        padding:0px;
        align-items: center;
       justify-content: center;
        margin:0px;
       left: 300px;
       right: 0px;
       top: 120px;
        bottom: 0px;
        height: calc(100% - 120px);
        width: calc(100% - 300px);
        z-index: 124;
        position: fixed;
       transition: transform 0.25s all;
    @media (max-width: 1450px){
      left: 0;
      width: calc(100% - 0px);
      }
       & .tafsir_page {
         width: 100%;
         max-width: 100%;
         height: 100%;
         background-color:#767;
         position: relative;
         & .tafsir_header {
           width: 100%;
           height: 50px;
          background: var(--bg-bars);
           overflow: hidden;
           padding: 5px 10px;
           box-sizing: border-box;
           display: flex;
           align-items: center;
          justify-content: space-between;
           & a.close {
             width: 40px;
             height: 40px;
            /* background: #ccc;*/
             display: flex;
             border-radius: 50%;
             align-items: center;
             justify-content: center;
             & svg {
               width: 25px;
               height: 25px;
               }
             }
           & span {
             font-size: 20px;
             font-weight: bold;
             color: var(--lop-cl-light);
             }
         }
         & .tafsir_content {
           height:calc(100% - 50px);
           overflow-x: auto;
           & .tafsir_digital {
             padding: 5px 5px;
             padding-bottom: 100px;
             box-sizing: border-box;
            /* background: pink;*/
             & .card {
               margin: 10px auto;
               padding: 5px 10px;
               background-color: var(--bg-bars);
               border-radius: 10px;
              /* &::before  {
  content: "";
  position: absolute;
  margin-top: 10px;
  left: 10px;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #7E8D98;
}*/
               & .bars {
                 width: 100%;
                 height: 50px;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 /*background-color: #7E8D98;*/
                 & span {
		   color: var(--text-title);
                   margin-left: 10px;
                   font-size: 19px;
                   font-weight: 600;
                   }
                 & label {
             width: 40px;
             height: 40px;
             background-color: var(--bg-view);
             display: flex;
             border-radius: 50%;
             align-items: center;
             justify-content: center;
             & svg {
               width: 25px;
               height: 25px;
               }
             }
                 }
               & .ring {
                 & p {
		   color: var(--text-typo);
		   font-size: 14px;
		 }
                 &::before {
                   content:"";
                   width: 100%;
                   height: 2px;
                   margin-top: 10px;
                   border-radius: 2px;
                   display: block;
                   background: navy;
                   position: relative;
                   text-align: center;
                   }
                 }
               }
             }
           }
        }
      }
}

/*==== Input Set ===*/
input[id="QsTafsirView-Set1"] ~ .section-tafsir .tsr-1 .bars svg,
input[id="QsTafsirView-Set2"] ~ .section-tafsir .tsr-2 .bars svg {
  -webkit-animation: var(--rot-cek-out);
	animation: var(--rot-cek-out);
  }
input[id="QsTafsirView-Set1"]:checked ~ .section-tafsir .tsr-1 .bars svg,
input[id="QsTafsirView-Set2"]:checked ~ .section-tafsir .tsr-2 .bars svg {
  -webkit-animation: var(--rot-cek-in);	
	animation: var(--rot-cek-in);
  }
input[id="QsTafsirView-Set1"] ~ .section-tafsir .tsr-1 .ring,
input[id="QsTafsirView-Set2"] ~ .section-tafsir .tsr-2 .ring {
  display: none;
}
input[id="QsTafsirView-Set1"]:checked ~ .section-tafsir .tsr-1 .ring,
input[id="QsTafsirView-Set2"]:checked ~ .section-tafsir .tsr-2 .ring {
  display: block;
}




input[id="QsLayView-Set10"]:checked ~ .section-quran-navigasi .quran-navigasi .modeheight label.LabFor10 svg {
  -webkit-animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
input[id="QsLayView-Set10"] ~ .section-quran-navigasi .quran-navigasi .modeheight label.LabFor10 svg {
  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/*==============================
  Section Navigasi
===============================*/


@-webkit-keyframes rotate-in-cek-cw {
  0% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  /* opacity: 1;*/ 
} 
100% {  
-webkit-transform: rotate(-180deg);  
transform: rotate(-180deg); 
/* opacity: 0;*/  } 
}
@keyframes rotate-in-cek-cw {  0% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }  100% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);  /*  opacity: 0;*/  }  }
@-webkit-keyframes rotate-out-cek-cw {  0% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);   /* opacity: 0;*/  }  100% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }}
@keyframes rotate-out-cek-cw {  0% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);  /*  opacity: 0;*/  }  100% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }}




/* ----------------------------------------
 * animation flip-harizontal-top
 * ---------------------------------------- */
 @-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes flip-horizontal-top {
  
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
  /* ----------------------------------------
 * animation flip-harizontal-bottom
 * ---------------------------------------- */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}



/* ----------------------------------------
 * animation slide-in-bottom
 * ---------------------------------------- */
@-webkit-keyframes slide-in-bottom-quran {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-in-bottom-quran {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ----------------------------------------
 * animation slide-in-top
 * ---------------------------------------- */
@-webkit-keyframes slide-in-top-quran {
  0% {
    -webkit-transform: translateY(-160px);
            transform: translateY(-160px);
    /*opacity: 0;*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top-quran {
  0% {
    -webkit-transform: translateY(-160px);
            transform: translateY(-160px);
   /* opacity: 0;*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
