:root {
  --rot-cek-out: rotate-out-cek-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  --rot-cek-in: rotate-in-cek-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*==============================
  Section Ayat
===============================*/
.section-quran {

  /*== Info Surat ==*/
  & .info-date-surah {
    height: auto;
    left: 0;
    top: 1px;
    line-height: 1.6;
    padding: 3px 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25px var(--cl-df) solid;
    & > span {
      font-size: 40px;
      line-height: 1.6;
      color: var(--cl-df);
      font-family: 'Lateef', cursive;
    }
    & .date-bars {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      & span {
        color: var(--cl-df);
        font-family: 'Lato' , sans-serif;
        &:first-child {
          font-size: 19px;
          font-weight: bold;
          color: var(--cl-df);
        }
        &:last-child {
          font-size: 14px;
          color: var(--cl-df);
        }
        & b {
          margin-right: 10px;
        }
      }
    }
  }

  /*== Bismillah ==*/
  & .bismillah {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
    & span {
      font-size: 35px;
      color: var(--cl-bmlah);
      font-family: 'Lateef', cursive;
    }
  }
  
  /*== Content ==*/
  & .content-quran {
    & .quran-digital {
      & + & {
        margin-top: 15px;
      }
      &:last-child {
        border-bottom: 0px transparent solid;
      }
      & div[class*="ayat-"] {
        text-align: right;
        margin-top: -125px;
        padding-top: 125px;
        position: relative;
        & .flex-alt {
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          & > span {
            width: calc(100% - 40px);
            padding: 5px;
            text-align: right;
            margin-top: -12px;
            font-size: 50px;
            line-height: 1.5;
            font-weight: 500;
            letter-spacing: 1px;
            text-shadow: none;
            color: var(--cl-qs-dgt);
            font-family: var(--ff-lateef);
          }
          & div.number_ayat {
            margin-top: 12px;
            width: 40px;
            height: 40px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            & span {
              z-index: 2;
              color: #111;
              display: block;
              font-size: 14px;
              margin-top: 0px;
              margin-right: 0px;
              font-weight: bold;
              position: absolute;
            }	
            &::before {
              content:'';
              width:40px;
              height: 40px;
              margin-top: 0;
              margin-right: 5px;
              display: block;
              z-index: 1;
              margin: 0px;
              position: absolute;
              border-radius: 0px;
              background: var(--var-number) center center / 40px no-repeat;
            }
          }
          & + p {
            font-size: 14px;
            text-align: right;
            line-height: 1.4;
            color: var(--cl-qs-dgt);
            border-bottom: 0px #111 solid;
            font-family: 'Merriweather', serif;
            & + p {
              font-size: 15px;
              line-height: 1.5;
              font-weight: 600;
              text-align: left;
              margin-bottom: 20px;
              padding-bottom: 15px;
              color: var(--cl-df);
              border-bottom: 0px #111 solid;
              font-family: var(--ff-roboto);/*'Quicksand' , sans-serif;*/
            }
          }
        }
      }
      & .respon-button {
        width: 100%;  
        min-height: 40px;  
        padding: 0px;  
        z-index: 4;  
        position: relative;  
        height: auto;  
        display: flex;  
        padding-bottom: 0px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        & .juz-poin {
          display: inline-block;
          margin: 0px 5px 0px 0px;
          & .juz,& .poin {
            padding: 5px 10px;
            border: 0.25px var(--cl-bdr) solid;
            font-family: 'Quicksand' , sans-serif;
          }
          & .juz {
            font-weight: bold;
            color: var(--cl-qs-dgt);
            border-radius: 4px 0 0 4px;
            background-color: var(--bg-la);
          }
          & .poin {
            font-weight: bold;
            color: var(--cl-bit); 
            border-radius: 0 4px 4px 0;
            border-left: 0px #4E4DED solid;
            background-color: var(--bg-bit);
          }
        }
        & .link-ayat {
          font-weight: bold;
          border-radius: 4px;
          padding: 5px 10px;
          color: var(--cl-qs-dgt);
          border: 0.25px var(--cl-bdr) solid;
          /*color: var(--cl-bat);*/ 
          background-color: var(--bg-la);
          font-family: 'Quicksand' , sans-serif;
          &::after {
            content: "\e4bf";
            font-size: 14px;
            color: var(--cl-bdr); 
            font-weight: 500;
            font-family: FontAwesome; 
            margin-left: 7px;
            position: relative;
          }
        }
      }
    }
  }
}


/*==============================
  Section Tafsir
===============================*/
.section-tafsir {

}

/*==============================
  Section Qur'an Navigasi
===============================*/
.section-navigasi-quran {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .quran-navigasi {
      z-index: 20;
      width: 100%;
      max-width: 800px;
      display: block;
      position: fixed;
      background-color: #fff;
      & .modeheight {
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;        
        & > label {
          margin: 0;
          padding: 0;
          height: 30px;
          width: 30px;
          min-width: 30px;
          max-width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          & svg {
            height: 30px;
            width: 30px;
          }
        }
      }
      & .quran-barsnavi {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
        @media (max-width: 640px){
          flex-direction: column;
        }
        & .navi-form {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: start;
          & .form-surat {
            height: 50px;
            width: calc(100% - 180px);   
            display: flex;
            align-items: center;
            justify-content: center;
          }
          & .form-ayat {
            height: 50px;
            width: 80px;
            min-width: 80px;
            max-width: 80px;   
            display: flex;
            align-items: center;
            justify-content: center;
          }
          & .btn-pass {
            height: 50px;
            width: 100px;
            min-width: 100px;
            max-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;    
            & button {
              margin: 0px auto;
              border: 0.5px var(--border-nav) solid;
              width: 39px;
              height: 39px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 5px;
              & svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        & .navi-link {
          width: 100%;
          height: 50px;      
          display: flex;
          align-items: center;
          justify-content: center;
          & a {
            margin: 5px 5px;
            height: 39px;
            width: calc(100% - 10px);
            border: 0.5px #2c3e50 solid;
            border-radius: 5px;
            padding: 5px 5px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & span {
              color: #111;
              width: auto;
              font-size: 14px;
              font-weight: 500;
            }
            & svg {
              width: 20px;
              height: 20px;
              min-width: 20px;
              min-height: 20px;
            }
          }
        }
      }
      & .audioplay {
        width: 100%;
        height: 49.50px;
        border-top: 0.50px #111 solid;
     /* background: red;*/
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      & .onplayer {
      width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
  & button {
               margin: 0px auto;
               border: 0px #ddd solid;
               width: 40px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
              background-color: transparent;
          border-radius: 5px;
              & svg {
                width: 30px;
                height: 30px;
                }
              }
  & .barsgress {
  width: 100%;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .progress {
  margin: 0;
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  background-color: var(--bg-view);
  border-radius: 10px 10px 10px 10px;
  & .progress-filled {
  width:50%;
  background: linear-gradient(to right, #B01DE8 , #df427a);
  flex:0;
  flex-basis: 0%;
  border-radius: 10px 10px 10px 10px;
  }
  }
}
  }
    }
  }
}


/*==============================
  Section Ayat
===============================*/
.respon-button .juz-poin:hover ~ .juz-info,
.respon-button .juz-poin:focus ~ .juz-info {
    display: block;
  z-index: 50;
  opacity:1;
  
  left: 5px;
  /*background: navy;*/
  position: absolute;
  pointer-events:all;
  }
.respon-button .juz-info {
  color: #fff;
  
  min-height: 100px;
  max-height: 400px;
  display: block;
  align-items:center;
   z-index: -50;
  display: none;
  color: #fff;
  opacity:0;
  left: -99999px;
  
  position: fixed;
  /*margin-top: -50px;*/
  bottom: 50px;
  width: 230px;
  height: calc (100% - 50px);
  pointer-events:none;
  order:2;
  z-index:1;
  transition: background .4s ease-in-out;
  box-sizing:border-box;
 /* overflow:hidden;*/
  
  white-space:nowrap;
  
  & .juz-bars {
   
    &::before  {
  content: "";
   z-index: -55;
  position: absolute;
  /*margin-top: 10px;*/
  left: 70px;
  bottom: 0px;
      margin-left: 8.50px;
  margin-bottom: -18.90px;
  border-width: 11px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent;
}
    &::after  {
  content: "";
      z-index: 15;
  position: absolute;
  /*margin-top: 10px;*/
  left: 70px;
  bottom: 0px;
      margin-left: 7.50px;
  margin-bottom: -18.80px;
  border-width: 12px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
    }
  & .juz-date{
    z-index: 5;
    width: 100%;
    height: 150px;
    background:#333;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px;
    border:#ddd solid var(--size-border-df);
    & .jnumb {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 5px;
 /* flex-direction: column;*/
  }
  & .jdate {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & span:nth-of-type(2) {
    color: red;
   font-size: 18px;
   font-weight: 400;
  }
  }
}
  }

/*==============================
  Section Tafsir
===============================*/
.quran_section_tafsir {
 & .tafsir {
        display: none;
        background-color:#ffeecc;
        padding:0px;
        align-items: center;
       justify-content: center;
        margin:0px;
       left: 300px;
       right: 0px;
       top: 120px;
        bottom: 0px;
        height: calc(100% - 120px);
        width: calc(100% - 300px);
        z-index: 20;
        position: fixed;
       transition: transform 0.25s all;
    @media (max-width: 1450px){
      left: 0;
      width: calc(100% - 0px);
      }
       & .tafsir_page {
         width: 100%;
         max-width: 100%;
         height: 100%;
         background-color:#767;
         position: relative;
         & .tafsir_header {
           width: 100%;
           height: 50px;
          background: var(--bg-navi);
           overflow: hidden;
           padding: 5px 10px;
           box-sizing: border-box;
           display: flex;
           align-items: center;
          justify-content: space-between;
           & a.close {
             width: 40px;
             height: 40px;
             background: #ccc;
             display: flex;
             border-radius: 50%;
             align-items: center;
             justify-content: center;
             & svg {
               width: 25px;
               height: 25px;
               }
             }
           & span {
             font-size: 20px;
             font-weight: bold;
             color: var(--lop-cl-light);
             }
         }
         & .tafsir_content {
           height:calc(100% - 50px);
           overflow-x: auto;
           & .tafsir_digital {
             padding: 5px 5px;
             padding-bottom: 100px;
             box-sizing: border-box;
            /* background: pink;*/
             & .card {
               margin: 10px auto;
               padding: 5px 10px;
               background-color: var(--bg-navi);
               border-radius: 10px;
               &::before  {
  content: "";
  position: absolute;
  margin-top: 10px;
  left: 10px;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #7E8D98;
}
               & .bars {
                 width: 100%;
                 height: 50px;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 /*background-color: #7E8D98;*/
                 & span {
                   margin-left: 10px;
                   font-size: 19px;
                   font-weight: 600;
                   }
                 & label {
             width: 40px;
             height: 40px;
             background: #ccc;
             display: flex;
             border-radius: 50%;
             align-items: center;
             justify-content: center;
             & svg {
               width: 25px;
               height: 25px;
               }
             }
                 }
               & .ring {
                 
                 &::before {
                   content:"";
                   width: 100%;
                   height: 2px;
                   margin-top: 10px;
                   border-radius: 2px;
                   display: block;
                   background: navy;
                   position: relative;
                   text-align: center;
                   }
                 }
               }
             }
           }
        }
      }
}

/*==== Input Set ===*/
input[id="QsTafsirView-Set1"] ~ .main_tafsir .tsr-1 .bars svg,
input[id="QsTafsirView-Set2"] ~ .main_tafsir .tsr-2 .bars svg {
  -webkit-animation: var(--rot-cek-out);	                animation: var(--rot-cek-out);
  }
input[id="QsTafsirView-Set1"]:checked ~ .main_tafsir .tsr-1 .bars svg,
input[id="QsTafsirView-Set2"]:checked ~ .main_tafsir .tsr-2 .bars svg {
  -webkit-animation: var(--rot-cek-in);	                animation: var(--rot-cek-in);
  }
input[id="QsTafsirView-Set1"] ~ .main_tafsir .tsr-1 .ring,
input[id="QsTafsirView-Set2"] ~ .main_tafsir .tsr-2 .ring {
  display: none;
}
input[id="QsTafsirView-Set1"]:checked ~ .main_tafsir .tsr-1 .ring,
input[id="QsTafsirView-Set2"]:checked ~ .main_tafsir .tsr-2 .ring {
  display: block;
}




input[id="QsLayView-Set10"]:checked ~ .section-navigasi-quran .quran-navigasi .modeheight label.LabFor10 svg {
  -webkit-animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
input[id="QsLayView-Set10"] ~ .section-navigasi-quran .quran-navigasi .modeheight label.LabFor10 svg {
  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/*==============================
  Section Navigasi
===============================*/


@-webkit-keyframes rotate-in-cek-cw {
  0% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  /* opacity: 1;*/ 
} 
100% {  
-webkit-transform: rotate(-180deg);  
transform: rotate(-180deg); 
/* opacity: 0;*/  } 
}
@keyframes rotate-in-cek-cw {  0% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }  100% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);  /*  opacity: 0;*/  }  }
@-webkit-keyframes rotate-out-cek-cw {  0% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);   /* opacity: 0;*/  }  100% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }}
@keyframes rotate-out-cek-cw {  0% {    -webkit-transform: rotate(-180deg);            transform: rotate(-180deg);  /*  opacity: 0;*/  }  100% {    -webkit-transform: rotate(0);            transform: rotate(0);   /* opacity: 1;*/  }}
