.post-content-category {
  width: 100%;
  display: grid;
   grid-template-columns: repeat(6, 1fr);
   margin-top: 10px;
   margin:0px;
   padding: 0px 10px;
                  
   box-sizing: border-box;
   gap: 10px;
   align-items: start;
  justify-items: center;
  position: relative;
		
 & > div.card-post {
    width: auto;
    max-width: 100%;
    /*max-width: 170px;*/
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px auto;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    & a.image {
  /*top: -25px;
  left: -5px;
  margin-bottom: 0px;*/
  height: 110px;
  width: none;
  border: 0px #fff solid;
  border-radius: 5px;
  border: 0.5px var(--border-bars) solid;
  background-size: cover;
  background-repeat: center;
    display: block;
  position: relative;
      overflow: hidden;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);*/
      & > div {
        padding: 2px 5px;
        box-sizing: border-box;
        background: navy;
        display: inline-block;
        border-radius: 0px 0px 5px 0px;
        & span {
          font-size: 12px;
          color: #fff;
          }
      }
}
    & a.arttitle {
      color: var(--text-note);
      font-size: 17px;
      margin: 3px 0px;
      font-weight: 700;
  line-height: 1.5;
      overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
      }
    }
   @media(max-width: 1007px) {
    grid-template-columns: repeat(4, 1fr);
     
    }
   @media(max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
   }	    
}



.article-category {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  & .view_list_category {
  
   
  position: relative;
  top: 0px;
  height: 60px;
  width: calc(100% - 0px);
  margin-left: 0px;
  padding: 0 0;
  padding-right: 5px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  border-radius: 0px;
  left: 0%;

    & a.btn_sel{
      width: auto;
     /* flex: 0 0 60%;*/
      height: 40px;
color: var(--text-note);
  padding: 5px 10px;
  margin: 5px 5px 5px 5px;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      border: 0.50px var(--bg-line) solid;
      border-color: currentColor;
      border-radius: 5px;
      margin: 0px 2.50px;
      flex: 0 0 auto;
      &:hover {
        background-color: var(--bg-defa-hover);
        border: 0.50px var(--bg-line-hover) solid;
        }
      &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
      & svg {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        }
      & span {
        color: var(--text-note);
        font-size: 15px;
        font-weight: 600;
        }
      }
     }
  }
.info_category {
  width: 80%;
  margin-top: 0px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
  & h2 {
    color: red;
    margin-bottom: -5px;
    & span {
      color: var(--text-post);
      border-bottom: 1px #111 solid;
      }
    }
  & p { 
    color: var(--text-para);
    }
  }  
