@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

/*===================================
    CSS WEBKIT BLOG WEBSITE CC-1
===================================*/
:root {
  --img-logo: url(https://raw.githubusercontent.com/nuzulam/repository/main/image/team-nuzu.png);
}

.post-body ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  
}
.post-body ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.post-body ::-webkit-scrollbar-thumb {
  background: #fff;
  border: 0px red solid;
  border-radius: 20px;
}
.post-body ::-webkit-scrollbar-thumb:hover {
  background: #3d54fe;
}
.post-body ::-webkit-scrollbar-thumb:active {
  background: #3d54fe;
}
.post-body ::-webkit-scrollbar-track {
  background: #3d54fe;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.post-body ::-webkit-scrollbar-track:hover {
  background: red;
}
.post-body ::-webkit-scrollbar-track:active {
  background: #3d54fe;
}
.post-body ::-webkit-scrollbar-corner {
  background: green;
}

.post-body {
 & > .content-article {
    & .article {
   padding: 0px 10px;
   box-sizing: border-box;
    & img {
     max-width: 100%;
     border-radius: 5px;
    }
    & p, & li {
        font-size: 18px;
        color: var(--post-typo);
        font-family: 'DM sans' , sans-serif;
    }
    & p {
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 25px;
     }
    & .pin-latin {
      width: none;
      display: block;
       text-align: right;
        padding: 5px 10px;
       box-sizing: border-box;
       & span {
        font-size: 30px;
        font-weight: 500;
         line-height: 1.8;
         font-family: 'Lateef' , cursive;
        }
       & p + p {
        text-align: left;
      }
     }
   }
  }
}

/*====== Bottom Post Footer Bone ===*/
.item-view .post .post-footer.container{display:none}

input.input_article {display:none}
  
.content-article .start-bars {
  margin: 15px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.content-article .start-bars button svg {
  fill: #868a8f;
  height: 20px;
  width: 20px;
  stroke: transparent;
  }
.content-article .start-bars button {
  height: 40px;
  width: 100px;
  margin-right: 5px;
  border: 1px #868a8f solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  }
.content-article .start-bars button span {
  color: #868a8f;
  margin-left: 5px;
  font-family: 'Lato' , sans-serif;
  }



.item-view .bg-photo {
max-height: 0px;
}
@media (max-width: 900px){
.item-view .bg-photo{
max-height: 0px;
}
}
/*--- Component Article ---*/
.articel_post_bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .articel_top_select {
    top:68px;
    width: 100%;
    max-width:800px;
    position:fixed;
    z-index:5;
    background-color: var(--bg-bars);
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    box-shadow:0 2px 6px 0 rgba(0,0,0,.1);
   .btn-notes {
      width: 50px;
       height: 50px;
       margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;       
      & .art_back {
    width: 40px;
    height: 40px;
    margin-right: 2.50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /*background: #ddd;*/
    border-radius: 5px;
    &:hover {
    background: var(--bg-bars-hover);
    }
    & svg {
      width: 30px;
      height: 30px;
      }
    & span {
      color: #111;
      font-size: 12px;
      }
    }
  }
    & .second_label {
   display:block;
   width: 100%;
   overflow:scroll;
   overflow-y:hidden;
   height: 50px;
   line-height:12.5px;
   font-size:13.5px;
   font-weight:500;
    & div.line_label{
   width:max-content;
   margin: 0px; 0px; 0px; 70px;
      & span.byline-label {
   padding: 0;
   position:fixed;
   margin-top: 10px;
   left:-1px;
   display: none;
  }
   & a{
   float:left;
   color:#444;
   margin-top: 10px;
   font-size: 14px;
   padding:10px 10px;
   display:block;
   text-align:center;
   text-transform:uppercase;
   &:hover {
   color:#49ACE1;
   border-bottom:2px solid #49ACE1;
     }
    }
   }
  }
 }
}
@media (max-width: 800px){
 .articel_post_bars {
  & .articel_top_select {
    top:58px;
    border-radius: 0px;
    & .art_back {
      border-radius: 0px 0px 0px 0px;
     }
    }
   }
  }

.button-n-search {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 15px;
    box-sizing: border-box;
  
  & a {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    min-width: 140px;
    height: 40px;
    text-align: center;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #434DED;
    background-position: center;
  transition: background 0.8s;
    margin: 0px 2.50px;
    &:hover {
  background: #434DED radial-gradient(circle, transparent 1%, #434DED 1%)
    center/15000%;
}
    &:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
    }
  & form {
    width: 100%;
    
    display: flex;
  align-items: center;
  justify-content: start;
    position: relative;
    margin: 0px 2.50px;
    & input {
      font-size: 13px;
    outline: none;
     border: none;
    width: 100%;
      height: 40px;
    padding: 10px 10px;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 5px;
    }
    & button {
      top: 0px;
      right: 0px;
      width: 40px;
      height: 40px;
      border: none;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 5px 5px 0px;
      & svg {
        width: 30px;
        height: 30px;
        }
      }
    }
  }
   

.article_btn_respon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .bars_respon {
     z-index: 10;
    bottom: 0px;
    width: 100%;
    max-width: 800px;
    height: 60px;
    position: fixed;
    & .action_respon {
      margin: 0;
     padding: 0px 0px;
      box-sizing: border-box;
      width: 100%;
    max-width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: var(--bg-bars);
     & div {
        width: 60px;
        height: 60px;
        min-width: 50px;
        min-height: 50px;
       /* background: navy;*/
        margin: 0px auto;
        border-radius: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
         &:active {
          transform: scale(0.95);
          -webkit-transition: all 0.3s;
         }
         & svg {
          width: 25px;
          height: 25px;
        }
       & span {
         color: var(--post-title);
          margin-top: 7px;
          line-height: 0.9;
          font-weight: 300;
          font-size: 11px;
          }
       }
      }
    }
}

.label-style {
  margin-top: 35px;
  position: relative;
  padding: 0px 10px;
  box-sizing: border-box;
  & span.byline-label {
    font-size: 15px;
    top: -20px;
    left: 10px;
    position: absolute;
    }
  & span.post-labels {
    & a[rel='tag'] {
      padding: 10px 15px;
      color: red;
      background: pink;
      }
    }
  }
 .author_bars .author_link_date {
& .author_time {
  padding: 0px 0px;
  box-sizing: border-box;
 & .byline, & .post-timestamp {
   color: var(--post-title);
  & a.timestamp-link {
    font-weight: bold;
    color: var(--post-typo);
     }
    }
  }
}
.author_bars {
  margin: 15px 0px;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
  & .author_avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: navy;
    & a, & .img {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      background: orange;
      }
    }
  & .author_link_date {
   margin-left: 10px;
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
    & .author_name > a {
      color: var(--post-title);
      font-size: 19px;
    }
   }
  }
.author_image {
  width: 50px;
  height: 50px;
  background-image: var(--img-logo);
  background-size: cover;
  background-repeat: no-repeat;
  background: pink;
  position: relative;
}



#backtotop {
  top: -50px;
  /*  bottom: 10px;*/
  right: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--bg-two-btn-fixed);
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 80;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#backtotop::after {
  content: "\f0aa";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  color: var(--cl-two-btn-icn-fixed);
}
#backtotop:hover {
  cursor: pointer;
  opacity: 0.5;
  background-color: var(--bg-two-btn-fixed-hover);
}
#backtotop:active {
  background-color: var(--bg-two-btn-fixed-active);
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 800px) {
  #share-button, /* btn media share */
  #backtotop {
    margin: 0px 10px;
    
  }
} 
