@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

.post-body {
 & > .content-article {
    & .article {
   padding: 0px 10px;
   box-sizing: border-box;
    & img {
     max-width: 100%;
     border-radius: 5px;
    }
    & p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 25px;
      color: var(--post-title);
      font-family: 'Quicksand' , sans-serif;
    }
   }
  }
}
.content-article .start-bars {
  margin: 15px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.content-article .start-bars button svg {
  fill: #868a8f;
  height: 20px;
  width: 20px;
  stroke: transparent;
  }
.content-article .start-bars button {
  height: 40px;
  width: 100px;
  margin-right: 5px;
  border: 1px #868a8f solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  }
.content-article .start-bars button span {
  color: #868a8f;
  margin-left: 5px;
  font-family: 'Lato' , sans-serif;
  }



.item-view .bg-photo {
max-height: 0px;
}
@media (max-width: 900px){
.item-view .bg-photo{
max-height: 0px;
}
}
/*--- Component Article ---*/
.second_list_label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .second_label {
   top:68px;
   display:block;
   width: 100%;
   max-width:800px;
   overflow:scroll;
   overflow-y:hidden;
   position:fixed;
   z-index:5;
   background:#fff;
   height: 50px;
  border-radius: 5px;
   line-height:12.5px;
   font-size:13.5px;
   font-weight:500;
   box-shadow:0 2px 6px 0 rgba(0,0,0,.1);
    & div.line_label{
   width:max-content;
   margin: 0px; 0px; 0px; 70px;
      & span.byline-label {
   padding: 0;
   position:fixed;
   margin-top: 10px;
   left:-1px;
   display: none;
  }
   & a{
   float:left;
   color:#444;
   margin-top: 10px;
   font-size: 14px;
   padding:10px 10px;
   display:block;
   text-align:center;
   text-transform:uppercase;
   &:hover {
   color:#49ACE1;
   border-bottom:2px solid #49ACE1;
}
}
      
}
}
  }

@media (max-width: 800px){
 .second_list_label {
  & .second_label {
    top:58px;
    border-radius: 0px;
    }
   }
  }





.second-label {
   left:0;
   right:0;
   top:55px;
   display:none;
   max-width:100%;
   overflow:scroll;
   overflow-y:hidden;
   position:fixed;
   z-index:5;
   background:#fff;
   height: 50px;
   line-height:12.5px;
   font-size:13.5px;
   font-weight:500;
   box-shadow:0 2px 6px 0 rgba(0,0,0,.1);
}
 .second-label ul {
   width:max-content;
   margin:0 0 0 70px;
}
 .second-label ul li {
   float:left;
   margin-top: 10px;
   font-size: 14px;
   padding:10px 10px;
   display:block;
   text-align:center;
   text-transform:uppercase;
}
 .second-label ul li a:hover {
   color:#49ACE1;
   border-bottom:2px solid #49ACE1;
}
 .second-label ul li a {
   color:#444;
   padding: 8px 5px;
}
 .second-label ul li.satu1 {
   padding: 0;
   position:fixed;
   margin-top: 15px;
   left:-1px;
}
.second-label ul li.satu1 span {
   background: #111;
   padding:11.5px 12.5px 10px;
   color:#fff;
   vertical-align: -6px;
   }
.second-label ul li.satu1:after {
   content:'';
   display:inline-block;
   position:absolute;
   border-left: 12px solid #111;
   border-top:8px solid transparent;
   border-bottom:8px solid transparent;
   right:-10px;
   top:4px;
}
@media (max-width: 640px) {
.second-label {
   display:block;
  }
}
