@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

body {
background: #FFF;
}




/* Link Maps 
--------------------------------------*/
.linkmaps {
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px navy solid;
}
@media (max-width: 900px) {
.linkmaps {
  height: 20px;
  margin-top: 0px;
 }
}
.linkmaps b::before{
  content:"\f101";
  margin-left: 5px;
  margin-right: 5px;
  font-family: FontAwesome;
}
.linkmaps a {
  color: #111;
  padding: 2px;
}




  
  
/* Menu Name 
--------------------------*/
.menu-name {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-name > span {
  font-weight: bold;
  color: #417694;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Quicksand' , sans-serif;
}
.menu-name > div {
  width: 30%;
  height: 5px;
  background: #191919;
  border-radius: 2px;
}

  
  
/* Menu DocsIcon 
--------------------------*/
.menu-docsicon .menu-icon {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
  
.menu-docsicon a.link-icon {
  width: auto;
  height: 75px;
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.menu-docsicon a.link-icon > span.fa-stack:first-child {
  font-size: 25px;
}
.menu-docsicon a.link-icon .fa-stack i.fa-square {
    color: rgba(65, 118, 148, 0.5);
}
.menu-docsicon a.link-icon .fa-stack i:last-child {
    color: #191919;
}
.menu-docsicon a.link-icon > span:last-child {
  font-size: 12px;
  color: #417694;
  font-weight: 300;
  margin-bottom: 0px;
  font-family: 'Lato' , sans-serif;
}
  


/* Menu DocsMars 
--------------------------*/
.menu-docsmars {
  display: block;
  margin-top: 10px;
  position: relative;
  }
.menu-docsmars .item-mars {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: start;
  }
.menu-docsmars .roll-mars {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-docsmars .roll-boxs {
  width: 137px;
  height: 137px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.menu-docsmars .pro-boxs {
  --size: 100px;
  --radius: 5px;
  height: var(--size);
  width: var(--size);
  border-radius: calc(var(--radius) * 0.50);
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.menu-docsmars .pro-boxs::after {
  content: "";
  position: absolute;
  width: calc(var(--size) * 0.4);
  height: 100%;
  top: calc(var(--size) * 0.05);
  left: 50%;
  transform: translateX(-50%);
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  /*filter: blur(20px) opacity(70%);*/
}

.menu-docsmars .roll-boxs span {
  color: #417694;
  font-size: 17px;
  margin-top: 7px;
  font-weight: 400;
  transition: 0.5s;
  font-family: 'Lato' ,  sans-serif;
}
.menu-docsmars .roll-boxs:hover {
  border: 1px #ccc solid;
  border-radius: 15px;
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
  -webkit-transition: all 0.3s;
}
.menu-docsmars .roll-boxs:hover span {
  letter-spacing: 2px;
  transition: 0.5s;
}


/* Al-Qur'an Digital Content 
--------------------------------------*/
.al-quran .info-bars {
  height: auto;
  left: 0;
  top: 1px;
  position: relative;
  border-bottom: 1px #111 dotted;
  }
.al-quran .arti-bars span {
  font-size: 14px;
  font-family: 'Lato' , sans-serif;
  }
.al-quran .data-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.al-quran .data-bars span {
  font-size: 14px;
  font-family: 'Lato' , sans-serif;
  }
.al-quran .data-bars span:first-child {
  color: #417694;
}
.al-quran .data-bars span b {
  color: #111;
  margin-right: 10px;
}
.al-quran data-bars span:last-child {
  color: #191919;
}


/* Content Quran */
.quran-digital.none {
  display: none;
}
.quran-digital {
  position: relative;
  border-bottom: 1px #191919 solid;
}
section.al-quran .quran-digital div[class*="ayat-"] h2,
section.al-quran .quran-digital div[id*="ayat-"] h2 {
  color: #9e342c;
  text-align: right;
  font-size: 35px;
  line-height: 1.7;
  font-weight: 500;
  font-family: 'Noto Naskh Arabic', serif;
}
section.al-quran .quran-digital div[class*="ayat-"] h2 + p,
section.al-quran .quran-digital div[id*="ayat-"] h2 + p {
  color: #9e342c;
  font-size: 14px;
  text-align: right;
  border-bottom: 0px #111 solid;
  font-family: 'Merriweather', serif;
}
section.al-quran .quran-digital div[class*="ayat-"] p + p,
section.al-quran .quran-digital div[id*="ayat-"] p + p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 0px #111 solid;
  font-family: 'Quicksand' , sans-serif;
}


/* Content Tafsir */
.al-quran .content-tafsir {
  margin-top: 10px;
  border-left: 10px #417694 solid;
  position: relative;
  }
.al-quran .content-tafsir p{
  font-size: 13px;
  line-height: 1.5;
  margin-left: 5px;
  font-family: 'Lato' , sans-serif;
}
.al-quran .content-tafsir i.sumber{
  font-size: 11px;
  line-height: 1.2;
  margin-left: 5px;
  }
.al-quran .content-tafsir .card-tafsir {
  width: 100%;
  max-width: none;
  height: 50px;
  margin-bottom: 10px;
  min-height: 50px;
  background-color: #FFF;
  padding: 7px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-left: 10px #417694 solid;
}
.al-quran .content-tafsir .card-tafsir::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -20px;
  background: #417694;
  height: none;
  min-height: 50px;
  width: 25px;
  max-width: 100%;
  border-radius: 5px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 1.25s ease-out;
}
.al-quran .content-tafsir .card-tafsir span {
  margin-left: 5px;
  text-transform: uppercase;
  font-family: 'Lato' , sans-serif;
}

/* Container Player Audio
-----------------------------"/
.container-player-audio {
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  background: #417694;
  border-radius: 0px 0px 0 0;
  position: fixed;
}
.audio-item {
  background: #417694;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center; 
  font-family: 'Lato' , sans-serif;
  width: 100%;
  margin: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.plyr--audio .plyr__controls {
  background: #417694;
  border-radius: inherit;
  color: #4a5464;
  color: #ffffff;
  padding: 0px;
  padding: var(--plyr-control-spacing,5px);
}
