
body.item-view .post .post-title-container,
body.item-view .post .post-title-container > .post-title{
  font-weight: 500;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  display: block;
  text-align: center;
  }
  .sidebar-menu-content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 900px;
    background: #fff;
    position: relative;
    z-index: 20;}
.main-qoriview {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: 105;
  left:0;
  right:0;
  bottom: 0; 
  background: rgba(25,25,25,0.4);
  opacity: 0.0;
  -webkit-transition: opacity 0.2s linear 0.05s;
  transition: opacity 0.2s linear 0.05s;
  transition: all 0.4s ease-in-out;
  -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  -webkit-transform:translateY(100%);
-ms-transform:translateY(100%);
transform:translateY(100%);
  
}  
.main-qoriview .overlay_murottal {
      height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  left:0;
  right:0;
  top: 0; 
  background: rgba(25,25,25,0.4);
  opacity: 0.0;
}
.main-qoriview .select_listcontent_qorial {
  z-index: 12;
  height: 100%;
  max-height: 1200px;
  margin: 0;
 /* overflow-x: visible;*/
  max-width: 800px;
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  transition: 0.4s all;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: var(--bg-bars);
  & .post_head_qorial {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-view);
    & .button_close_qori {
      width: 35px;
      height: 35px;
      outline: none;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      &:hover {
        background-color: var(--bg-bars-hover);
        }
      & svg {
        width: 30px;
        height: 30px;
        }
      }
    & span {
      color: var(--post-typo);
      font-size: 20px;
      font-weight: 500;
      margin-left: 8px;
      }
    }
  & .post_main_qorial {
    width: 100%;
    overflow: auto;
    height: calc(100% - 40px);
    position: relative;
    & .select_qori_list {
      width: 100%;
      height: auto;
      background: var(--bg-bars);
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-gap: 5px;
      text-align: center;
      border-bottom: 0px red solid;
      @media(max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      /*grid-template-columns: 1fr;*/
       }
      & a {
        margin: 10px auto;
        width: 150px;
      height: 150px;
        background: #ccc;
        box-sizing: border-box;
        padding: 0px 1px;
        border-radius: 5px;
        display: flex;
        align-items: center;
       justify-content: center;
        flex-direction: column;
        border: 2px transparent solid;
        & .ppqori {
          width: 100px;
          height: 100px;
          margin-bottom: 10px;
          background-size: cover;
  background-repeat: no-repeat;
          border-radius: 50%;
          position: relative;
          border: 2px #767eeb solid;
        }
        & span {
          color: #111;
          font-size: 17px;
          font-weight: 500;
          overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
          }
        &:hover {
          border: 2px #767eeb solid;
          }
        &:active {
         transform: translateY(1px);
         filter: saturate(150%);
         }  
        }
      }
    }
}
.qori-action .main-qoriview {
	opacity: 1.0;
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
  -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
transition-timing-function:cubic-bezier(.4,0,.2,1);
}

.title-bars {
    & .title_surah {
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
    width: 200px;
  overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    & b {
      display: none;
      }
    & span {
      font-size: 15px;
      font-style: normal;
      font-weight: 200;
      }
    }
  }
.pp_qori {
  --size: 100px;
  --radius: 50%;
  margin-bottom: 0px;
  height: var(--size);
  width: var(--size);
  border: 2px #fff solid;
  border-radius: var(--radius);
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}


.bars_info_murottal {
  margin-top:-10px;
  text-align: center;
  position: relative;
  & span {
    color: var(--post-typo);
    font-size:20px;
    opacity: 0.80;
    & > span {
      border-bottom: 2px #ddd solid;
      }
    }
  }


.mainbacktotop > div #backtotop {
  top: -190px;
}

.listbox-profile .qori_prolist {
  width: 54px;
  height: 54px;
  min-width: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & .file_profile {
  --size: 50px;
  --radius: 50%;
  height: var(--size);
  width: var(--size);
  border: 0px #fff solid;
  border-radius: var(--radius);
  border: 2px var(--bg-bars-hover) solid;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  }
}
