/*Class Blok Al-Quran
--------------------------------------*/
/* Content Quran */
.quran-digital.none {
  display: none;
}
.quran-digital {
  padding: 0px 0px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 0.5px var(--cl-df) solid;
}
@media (max-width: 800px) {
.quran-digital {
  padding: 0px 10px;
  box-sizing: border-box;
}
}
section.al-quran {
  padding: 0px 0px;
  box-sizing: border-box;
}
/*=== Sec 2 - Info Date ===*/
.al-quran .info-date-surah {
  height: auto;
  left: 0;
  top: 1px;
  line-height: 1.6;
  padding: 3px 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25px var(--cl-df) solid;
  }

.al-quran .info-date-surah .date-bars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.al-quran .info-date-surah .date-bars span {
  color: var(--cl-df);
  font-family: 'Lato' , sans-serif;
  }
.al-quran .info-date-surah .date-bars span b {
  margin-right: 10px;
  }
.al-quran .info-date-surah .date-bars span:first-child {
  font-size: 19px;
  font-weight: bold;
  color: var(--cl-df);
}
.al-quran .info-date-surah .date-bars span:last-child {
  font-size: 14px;
  color: var(--cl-df);
}
section.al-quran .info-date-surah > span {
  font-size: 40px;
  line-height: 1.6;
  color: var(--cl-df);
  font-family: 'Lateef', cursive;
  }

/* Sec 2 - Bismillah */
section.al-quran .bismillah {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
  /*color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 background: -o-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 -webkit-background-clip: text;*/
}
section.al-quran .bismillah span{
  font-size: 35px;
  color: var(--cl-bmlah);
  font-family: 'Lateef', cursive;
}

section.al-quran .content-quran .quran-digital:last-child {
  border-bottom: 0px navy solid
  }
section.al-quran .quran-digital + .quran-digital {
  margin-top: 15px;
  }
section.al-quran .quran-digital div[class*="ayat-"],
section.al-quran .quran-digital div[id*="ayat-"] {
  text-align: right;
}

section.al-quran .quran-digital div[class*="ayat-"] > span,
section.al-quran .quran-digital div[id*="ayat-"] > span,
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt > span,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt > span {
  padding: 5px;
  text-align: right;
  margin-top: -12px;
  font-size: 50px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: none;
  color: var(--cl-qs-dgt);
  font-family: 'Lateef', cursive;
}
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.al-quran .quran-digital div[class*="ayat-"] > span + p,
section.al-quran .quran-digital div[id*="ayat-"] > span + p,
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt + p,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt + p {
  font-size: 14px;
  text-align: right;
  line-height: 1.4;
  color: var(--cl-qs-dgt);
  border-bottom: 0px #111 solid;
  font-family: 'Merriweather', serif;
}
section.al-quran .quran-digital div[class*="ayat-"] p + p,
section.al-quran .quran-digital div[id*="ayat-"] p + p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: var(--cl-df);
  border-bottom: 0px #111 solid;
  font-family: 'Quicksand' , sans-serif;
}

.view-quran .tafsir-digital div span {
  margin-left: -12px;
  position: relative;
  text-transform: uppercase;
}

.view-quran .tafsir-digital div.ringkas, 
.view-quran .tafsir-digital div.tahlili {
  width: 200px;
  margin-top: 25px;
  position: relative;
  background: pink;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view-quran .tafsir-digital div.ringkas::before,
.view-quran .tafsir-digital div.tahlili::before  {
  content: "";
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent red;
}
.view-quran .tafsir-digital div.ringkas span, 
.view-quran .tafsir-digital div.tahlili span {
  font-size: 15px;
  color: #111;
}


div.Tafsir .view-quran div[class*="seayat-"],
div.Tafsir .view-quran div[id*="seayat-"] {
  margin-top: 20px;
  padding: 0px 10px;
  text-align: right;
  box-sizing: border-box;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt .number,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt .number {
  display: none;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt > span,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt > span {
  padding: 0px;
  text-align: right;
  margin-top: -12px;
  font-size: 50px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: none;
  color: var(--cl-qs-dgt);
  font-family: 'Lateef', cursive;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

div.Tafsir .view-quran div[class*="seayat-"] .flex-alt + p,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt + p {
  font-size: 14px;
  text-align: right;
  line-height: 1.4;
  color: var(--cl-qs-dgt);
  border-bottom: 0px #111 solid;
  font-family: 'Merriweather', serif;
}
div.Tafsir .view-quran div[class*="seayat-"] p + p,
div.Tafsir .view-quran div[id*="seayat-"] p + p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: var(--cl-df);
  border-bottom: 0px #111 solid;
  font-family: 'Quicksand' , sans-serif;
}


input[id="QsLayView-Set8"] ~ .component-quran .setting-dialog .QsLayView-Set8::before,
input[id="QsLayView-Set7"] ~ .component-quran .setting-dialog .QsLayView-Set7::before,
input[id="QsLayView-Set6"] ~ .component-quran .setting-dialog .QsLayView-Set6::before,
input[id="QsLayView-Set5"] ~ .component-quran .setting-dialog .QsLayView-Set5::before,
input[id="QsLayView-Set4"] ~ .component-quran .setting-dialog .QsLayView-Set4::before,
input[id="QsLayView-Set3"] ~ .component-quran .setting-dialog .QsLayView-Set3::before,
input[id="QsLayView-Set2"] ~ .component-quran .setting-dialog .QsLayView-Set2::before,
input[id="QsLayView-Set1"] ~ .component-quran .setting-dialog .QsLayView-Set1::before {
  color: #f1f1f1;
  border: 1px #aeaaea solid;
  background-color: #f1f1f1;
}
input[id="QsLayView-Set8"]:checked ~ .component-quran .setting-dialog .QsLayView-Set8::before,
input[id="QsLayView-Set7"]:checked ~ .component-quran .setting-dialog .QsLayView-Set7::before,
input[id="QsLayView-Set6"]:checked ~ .component-quran .setting-dialog .QsLayView-Set6::before,
input[id="QsLayView-Set5"]:checked ~ .component-quran .setting-dialog .QsLayView-Set5::before,
input[id="QsLayView-Set4"]:checked ~ .component-quran .setting-dialog .QsLayView-Set4::before,
input[id="QsLayView-Set3"]:checked ~ .component-quran .setting-dialog .QsLayView-Set3::before,
input[id="QsLayView-Set2"]:checked ~ .component-quran .setting-dialog .QsLayView-Set2::before,
input[id="QsLayView-Set1"]:checked ~ .component-quran .setting-dialog .QsLayView-Set1::before {
  color: #fff;
  border: 1px #FFFFFF solid;
  background-color: #79AC78;
}
input[id="QsLayView-Set8"] ~ .component-quran .setting-dialog .QsLayView-Set8,
input[id="QsLayView-Set7"] ~ .component-quran .setting-dialog .QsLayView-Set7,
input[id="QsLayView-Set6"] ~ .component-quran .setting-dialog .QsLayView-Set6,
input[id="QsLayView-Set5"] ~ .component-quran .setting-dialog .QsLayView-Set5,
input[id="QsLayView-Set4"] ~ .component-quran .setting-dialog .QsLayView-Set4,
input[id="QsLayView-Set3"] ~ .component-quran .setting-dialog .QsLayView-Set3,
input[id="QsLayView-Set2"] ~ .component-quran .setting-dialog .QsLayView-Set2,
input[id="QsLayView-Set1"] ~ .component-quran .setting-dialog .QsLayView-Set1 {
  color: #111;
  background: #ccc;
}
input[id="QsLayView-Set8"]:checked ~ .component-quran .setting-dialog .QsLayView-Set8,
input[id="QsLayView-Set7"]:checked ~ .component-quran .setting-dialog .QsLayView-Set7,
input[id="QsLayView-Set6"]:checked ~ .component-quran .setting-dialog .QsLayView-Set6,
input[id="QsLayView-Set5"]:checked ~ .component-quran .setting-dialog .QsLayView-Set5,
input[id="QsLayView-Set4"]:checked ~ .component-quran .setting-dialog .QsLayView-Set4,
input[id="QsLayView-Set3"]:checked ~ .component-quran .setting-dialog .QsLayView-Set3,
input[id="QsLayView-Set2"]:checked ~ .component-quran .setting-dialog .QsLayView-Set2,
input[id="QsLayView-Set1"]:checked ~ .component-quran .setting-dialog .QsLayView-Set1 {
  color: #fff;
  background-color: #767EEB;
}
  






.post-body  input.nodis {
  display: none
  }
