.theme-dark {
--call-var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8011 2.56967C10.8792 2.95444 10.6305 3.32966 10.2458 3.40776C6.81159 4.10481 4.10481 6.81156 3.40771 10.2457C3.3296 10.6305 2.95437 10.8791 2.56961 10.801C2.18484 10.7229 1.93624 10.3477 2.01435 9.9629C2.82504 5.96912 5.96917 2.82503 9.96297 2.0144C10.3477 1.9363 10.723 2.1849 10.8011 2.56967Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.56976 13.199C2.95452 13.1209 3.32975 13.3695 3.40786 13.7543C4.10496 17.1885 6.81174 19.8952 10.2459 20.5923C10.6307 20.6704 10.8793 21.0456 10.8012 21.4304C10.7231 21.8151 10.3479 22.0638 9.96312 21.9857C5.96932 21.175 2.82519 18.0309 2.0145 14.0371C1.9364 13.6524 2.18499 13.2772 2.56976 13.199Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1989 2.56962C13.277 2.18485 13.6523 1.93625 14.037 2.01435C18.0308 2.82498 21.175 5.96907 21.9857 9.96285C22.0638 10.3476 21.8152 10.7228 21.4304 10.801C21.0456 10.8791 20.6704 10.6305 20.5923 10.2457C19.8952 6.81151 17.1884 4.10476 13.7542 3.40771C13.3695 3.32961 13.1208 2.95439 13.1989 2.56962Z' fill='%231C274C'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.4304 13.199C21.8152 13.2772 22.0638 13.6524 21.9857 14.0371C21.175 18.0309 18.0308 21.175 14.037 21.9857C13.6523 22.0637 13.277 21.8151 13.1989 21.4304C13.1208 21.0456 13.3695 20.6704 13.7542 20.5923C17.1884 19.8952 19.8952 17.1885 20.5923 13.7543C20.6704 13.3695 21.0456 13.1209 21.4304 13.199Z' fill='%231C274C'%3E%3C/path%3E%3Cpath opacity='0.5' d='M11.9998 19.5826C16.1877 19.5826 19.5826 16.1877 19.5826 11.9998C19.5826 7.81193 16.1877 4.41699 11.9998 4.41699C7.81193 4.41699 4.41699 7.81193 4.41699 11.9998C4.41699 16.1877 7.81193 19.5826 11.9998 19.5826Z' fill='%231C274C'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
 }

.theme-light {
 --call-var-number: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg%3E%3Cpath fill-rule='nonzero' clip-rule='nonzero' d='M10.8011 2.56967C10.8792 2.95444 10.6305 3.32966 10.2458 3.40776C6.81159 4.10481 4.10481 6.81156 3.40771 10.2457C3.3296 10.6305 2.95437 10.8791 2.56961 10.801C2.18484 10.7229 1.93624 10.3477 2.01435 9.9629C2.82504 5.96912 5.96917 2.82503 9.96297 2.0144C10.3477 1.9363 10.723 2.1849 10.8011 2.56967Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.56976 13.199C2.95452 13.1209 3.32975 13.3695 3.40786 13.7543C4.10496 17.1885 6.81174 19.8952 10.2459 20.5923C10.6307 20.6704 10.8793 21.0456 10.8012 21.4304C10.7231 21.8151 10.3479 22.0638 9.96312 21.9857C5.96932 21.175 2.82519 18.0309 2.0145 14.0371C1.9364 13.6524 2.18499 13.2772 2.56976 13.199Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1989 2.56962C13.277 2.18485 13.6523 1.93625 14.037 2.01435C18.0308 2.82498 21.175 5.96907 21.9857 9.96285C22.0638 10.3476 21.8152 10.7228 21.4304 10.801C21.0456 10.8791 20.6704 10.6305 20.5923 10.2457C19.8952 6.81151 17.1884 4.10476 13.7542 3.40771C13.3695 3.32961 13.1208 2.95439 13.1989 2.56962Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.4304 13.199C21.8152 13.2772 22.0638 13.6524 21.9857 14.0371C21.175 18.0309 18.0308 21.175 14.037 21.9857C13.6523 22.0637 13.277 21.8151 13.1989 21.4304C13.1208 21.0456 13.3695 20.6704 13.7542 20.5923C17.1884 19.8952 19.8952 17.1885 20.5923 13.7543C20.6704 13.3695 21.0456 13.1209 21.4304 13.199Z' fill='%23F1F1F1'%3E%3C/path%3E%3Cpath opacity='0.5' d='M11.9998 19.5826C16.1877 19.5826 19.5826 16.1877 19.5826 11.9998C19.5826 7.81193 16.1877 4.41699 11.9998 4.41699C7.81193 4.41699 4.41699 7.81193 4.41699 11.9998C4.41699 16.1877 7.81193 19.5826 11.9998 19.5826Z' fill='%23F1F1F1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/*Class Blok Al-Quran
--------------------------------------*/
/* Content Quran */
.quran-digital.none {
  display: none;
}
.quran-digital {
  padding: 0px 0px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 0.5px var(--cl-df) solid;
}
@media (max-width: 800px) {
.quran-digital {
  padding: 0px 10px;
  box-sizing: border-box;
}
}
section.al-quran {
  padding: 0px 0px;
  box-sizing: border-box;
}
/*=== Sec 2 - Info Date ===*/
.al-quran .info-date-surah {
  height: auto;
  left: 0;
  top: 1px;
  line-height: 1.6;
  padding: 3px 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25px var(--cl-df) solid;
  }

.al-quran .info-date-surah .date-bars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.al-quran .info-date-surah .date-bars span {
  color: var(--cl-df);
  font-family: 'Lato' , sans-serif;
  }
.al-quran .info-date-surah .date-bars span b {
  margin-right: 10px;
  }
.al-quran .info-date-surah .date-bars span:first-child {
  font-size: 19px;
  font-weight: bold;
  color: var(--cl-df);
}
.al-quran .info-date-surah .date-bars span:last-child {
  font-size: 14px;
  color: var(--cl-df);
}
section.al-quran .info-date-surah > span {
  font-size: 40px;
  line-height: 1.6;
  color: var(--cl-df);
  font-family: 'Lateef', cursive;
  }

/* Sec 2 - Bismillah */
section.al-quran .bismillah {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
  /*color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 background: -o-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 -webkit-background-clip: text;*/
}
section.al-quran .bismillah span{
  font-size: 35px;
  color: var(--cl-bmlah);
  font-family: 'Lateef', cursive;
}

section.al-quran .content-quran .quran-digital:last-child {
  border-bottom: 0px navy solid
  }
section.al-quran .quran-digital + .quran-digital {
  margin-top: 15px;
  }
section.al-quran .quran-digital div[class*="ayat-"],
section.al-quran .quran-digital div[id*="ayat-"] {
  text-align: right;
}

section.al-quran .quran-digital div[class*="ayat-"] > span,
section.al-quran .quran-digital div[id*="ayat-"] > span,
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt > span,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt > span {
  padding: 5px;
  text-align: right;
  margin-top: -12px;
  font-size: 50px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: none;
  color: var(--cl-qs-dgt);
  font-family: 'Lateef', cursive;
}
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.al-quran .quran-digital div[class*="ayat-"] > span + p,
section.al-quran .quran-digital div[id*="ayat-"] > span + p,
section.al-quran .quran-digital div[class*="ayat-"] .flex-alt + p,
section.al-quran .quran-digital div[id*="ayat-"] .flex-alt + p {
  font-size: 14px;
  text-align: right;
  line-height: 1.4;
  color: var(--cl-qs-dgt);
  border-bottom: 0px #111 solid;
  font-family: 'Merriweather', serif;
}
section.al-quran .quran-digital div[class*="ayat-"] p + p,
section.al-quran .quran-digital div[id*="ayat-"] p + p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: var(--cl-df);
  border-bottom: 0px #111 solid;
  font-family: 'Quicksand' , sans-serif;
}

.view-quran .tafsir-digital div span {
  margin-left: -12px;
  position: relative;
  text-transform: uppercase;
}

.view-quran .tafsir-digital div.ringkas, 
.view-quran .tafsir-digital div.tahlili {
  width: 200px;
  margin-top: 25px;
  position: relative;
  background: pink;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view-quran .tafsir-digital div.ringkas::before,
.view-quran .tafsir-digital div.tahlili::before  {
  content: "";
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent red;
}
.view-quran .tafsir-digital div.ringkas span, 
.view-quran .tafsir-digital div.tahlili span {
  font-size: 15px;
  color: #111;
}


div.Tafsir .view-quran div[class*="seayat-"],
div.Tafsir .view-quran div[id*="seayat-"] {
  margin-top: 20px;
  padding: 0px 10px;
  text-align: right;
  box-sizing: border-box;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt .number,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt .number {
  display: none;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt > span,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt > span {
  padding: 0px;
  text-align: right;
  margin-top: -12px;
  font-size: 50px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: none;
  color: var(--cl-qs-dgt);
  font-family: 'Lateef', cursive;
}
div.Tafsir .view-quran div[class*="seayat-"] .flex-alt,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

div.Tafsir .view-quran div[class*="seayat-"] .flex-alt + p,
div.Tafsir .view-quran div[id*="seayat-"] .flex-alt + p {
  font-size: 14px;
  text-align: right;
  line-height: 1.4;
  color: var(--cl-qs-dgt);
  border-bottom: 0px #111 solid;
  font-family: 'Merriweather', serif;
}
div.Tafsir .view-quran div[class*="seayat-"] p + p,
div.Tafsir .view-quran div[id*="seayat-"] p + p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: var(--cl-df);
  border-bottom: 0px #111 solid;
  font-family: 'Quicksand' , sans-serif;
}


input[id="QsLayView-Set8"] ~ .component-quran .setting-dialog .QsLayView-Set8::before,
input[id="QsLayView-Set7"] ~ .component-quran .setting-dialog .QsLayView-Set7::before,
input[id="QsLayView-Set6"] ~ .component-quran .setting-dialog .QsLayView-Set6::before,
input[id="QsLayView-Set5"] ~ .component-quran .setting-dialog .QsLayView-Set5::before,
input[id="QsLayView-Set4"] ~ .component-quran .setting-dialog .QsLayView-Set4::before,
input[id="QsLayView-Set3"] ~ .component-quran .setting-dialog .QsLayView-Set3::before,
input[id="QsLayView-Set2"] ~ .component-quran .setting-dialog .QsLayView-Set2::before,
input[id="QsLayView-Set1"] ~ .component-quran .setting-dialog .QsLayView-Set1::before {
  color: #f1f1f1;
  border: 1px #aeaaea solid;
  background-color: #f1f1f1;
}
input[id="QsLayView-Set8"]:checked ~ .component-quran .setting-dialog .QsLayView-Set8::before,
input[id="QsLayView-Set7"]:checked ~ .component-quran .setting-dialog .QsLayView-Set7::before,
input[id="QsLayView-Set6"]:checked ~ .component-quran .setting-dialog .QsLayView-Set6::before,
input[id="QsLayView-Set5"]:checked ~ .component-quran .setting-dialog .QsLayView-Set5::before,
input[id="QsLayView-Set4"]:checked ~ .component-quran .setting-dialog .QsLayView-Set4::before,
input[id="QsLayView-Set3"]:checked ~ .component-quran .setting-dialog .QsLayView-Set3::before,
input[id="QsLayView-Set2"]:checked ~ .component-quran .setting-dialog .QsLayView-Set2::before,
input[id="QsLayView-Set1"]:checked ~ .component-quran .setting-dialog .QsLayView-Set1::before {
  color: #fff;
  border: 1px #FFFFFF solid;
  background-color: #79AC78;
}
input[id="QsLayView-Set8"] ~ .component-quran .setting-dialog .QsLayView-Set8,
input[id="QsLayView-Set7"] ~ .component-quran .setting-dialog .QsLayView-Set7,
input[id="QsLayView-Set6"] ~ .component-quran .setting-dialog .QsLayView-Set6,
input[id="QsLayView-Set5"] ~ .component-quran .setting-dialog .QsLayView-Set5,
input[id="QsLayView-Set4"] ~ .component-quran .setting-dialog .QsLayView-Set4,
input[id="QsLayView-Set3"] ~ .component-quran .setting-dialog .QsLayView-Set3,
input[id="QsLayView-Set2"] ~ .component-quran .setting-dialog .QsLayView-Set2,
input[id="QsLayView-Set1"] ~ .component-quran .setting-dialog .QsLayView-Set1 {
  color: #111;
  background: #ccc;
}
input[id="QsLayView-Set8"]:checked ~ .component-quran .setting-dialog .QsLayView-Set8,
input[id="QsLayView-Set7"]:checked ~ .component-quran .setting-dialog .QsLayView-Set7,
input[id="QsLayView-Set6"]:checked ~ .component-quran .setting-dialog .QsLayView-Set6,
input[id="QsLayView-Set5"]:checked ~ .component-quran .setting-dialog .QsLayView-Set5,
input[id="QsLayView-Set4"]:checked ~ .component-quran .setting-dialog .QsLayView-Set4,
input[id="QsLayView-Set3"]:checked ~ .component-quran .setting-dialog .QsLayView-Set3,
input[id="QsLayView-Set2"]:checked ~ .component-quran .setting-dialog .QsLayView-Set2,
input[id="QsLayView-Set1"]:checked ~ .component-quran .setting-dialog .QsLayView-Set1 {
  color: #fff;
  background-color: #767EEB;
}
  






.post-body  input.nodis {
  display: none
  }
