/*==============================
 Css Data Version
==============================*/
body.version-1-3-3 {
  & .centered,& .page,& .page_body {
     max-width: 3000px;
  }
}  /*=== Data Version end ===*/
body.version-1-3-3 {
 & .widget.HTML h3.title {
    display:none;
  }
  & #main {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 3000px;
  }
  & .centered-bottom {
    margin: 0px;
    position:relative;
    width:100%;
    max-width: 3000px;
  }
  & .sidebar-container {
   height:0px;
   max-height:0px;
  }
}


/*==============================
 Css Data Feed View
==============================*/
.feed-view {
   &::before {
      content:"";
      left: 0;
      bottom: 0;
      z-index: 20;
      width: 100%;
      height: 3px;
      display: block;
      position: fixed;
      background: linear-gradient(to right, #ff1010, #880099, #00ffff);
    }
 
    & .post-title-container  {
      & .post-title.entry-title {
        & .snippet-container.r-snippet-container {
         & .r-snippetized {
           font-family: var(--ff-roboto);
           padding: 5px 0px;
           font-size: 22px;
           line-height: 1.5;
           color: var(--post-title);
           box-sizing: border-box;
           width: 100%;
           overflow: hidden;
           -webkit-box-orient: vertical;
           -webkit-line-clamp: 2;
           display: -webkit-box;
         }
       }
     }
   } 
   & #Page1 {
     display: flex;     
   }
   & button.call_list,& button.call_menu {
     display: flex;
   }
 } /*=== Data Feed View end ===*/


/*==============================
 Css Data Item View
==============================*/
.item-view {
  & #Page1, & #Page2 {
    display: none;     
  }
  & button.call_list,& button.call_menu {
    display: flex;
  }
  & .post-outer{
    padding: 0px;
    width: 100%;
    max-width: 1900px;
    background: var(--bg-post);
    & .post-wrapper {
       padding: 0px
    }
  }
} /*=== Data Item View end ===*/


/*==============================
 Css Data Search View
==============================*/
.search-view {
  & #Page1, & #Page2 {
    display: none;     
  }
  & .page_body {
    padding-top: 80px;
  }
} /*=== Data Search View end ===*/



/*==============================
 Css Data Label View
==============================*/
.label-view {
  & #Page1, & #Page2 {
    display: none;     
  }
}  /*=== Data Label View end ===*/

