html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/*==============================
 Css Data Version
==============================*/
body.version-1-3-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s all;
  box-sizing: border-box;
  font-family: var(--ff-dm);
  background-color:var(--bg-page);
  & .widget.HTML h3.title {display:none}
  & aside.sidebar-container {
   height:0px;
   max-height:0px;
  }
  & .page {
    display: block;
    width: 100%;
    max-width: var(--maxw-extrawidth);
    /*& .blog-name {
      & .section, & #header {
        & .widget,& .HTML {
          & .widget-content {
            & .section-navigasi {
              top: 0px;
              left: 0px;
              right: 0px;
              width: 100%;
              max-width: 100%;
              margin: 0px;
              padding: 0px;
              z-index: 123;
              display: flex;
              position: fixed;
              background-color: var(--bg-navi);
	      box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
              & .navigasi {   
                & .logo {
                  display: block;
                  margin: 0px;
                  & a.logo_name {
                    box-sizing: border-box;
                    align-items: center;
                    justify-content: start;
                    height: 60px;
                    width:auto;
                    font-size: 23px;
                    font-weight: 700;
                    cursor: pointer;
                    padding: 0px 5px;
                    margin: 0px;
                    font-family: Stint Ultra Expanded;
                    & svg.symbol {
                      width: 40px;
                      height: 40px;
                    }
                    & span.n_ {
	              color: var(--cl-logo);
                      -webkit-text-fill-color: transparent;
                      background: -webkit-gradient(linear,left top,left bottom,from(var(--cl-top-logo)),to(var(--cl-bottom-logo)));
                      background: -o-gradient(linear,left top,left bottom,from(#660ccc),to(#00ffff));
                      -webkit-background-clip: text;
                    & > span._net {
                      font-size:10px;
                      color: var(--cl-logo);
                      -webkit-text-fill-color: transparent;
                      background: -webkit-gradient(linear,left top,left bottom,from(var(--cl-net-logo)),to(var(--cl-net-logo)));
                      background: -o-gradient(linear,left top,left bottom,from(#660ccc),to(#00ffff));
                      -webkit-background-clip: text;
                    }
                  }
                }
              }
              &.navigasi-group-bars {
                overflow: hidden;
                width: 0px;
                background-color: #ccc;
              }
              &.navigasi-group-part {
                margin: 0px;
                width: calc(100% - 0px);
                display: block;
                position: relative;
                & .NavSheet {
                  z-index: 40;
                  top: 0px;
                  left: 0px;
                  right: 0px;
		  width: 100%;
                  position: relative;
                  background: var(--bg-bars);
                  transition: top 0.5s;
                  & .Sheet{    
                    height: 60px;
                    max-height: 60px;
                    min-height: 60px;
                    align-items: center;
                    &.Sheet_pars_view {
                      justify-content: space-between;
                      & .Sheet_Pro_1 {
                        width: auto;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        & .menu_boxs {
                          width: 50px;
                          min-width: 50px;
                          height: 60px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          & button {
                            margin: 0px auto;
                            border: none;
                            width: 40px;
                            height: 40px;
			    display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            & svg {
                              width: 30px;
                              height: 30px;
                            }
                          }
                        }
                      }
                      & .Sheet_Pro_2 {
                        width: 100px;
                        min-width: 100px;
                        height: 60px;
                        max-height: 60px;
                        min-height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
			& .button_boxs {
                          margin: 0;
                          padding: 0;
                          height: 60px;
                          width: 100px;
                          box-sizing: border-box;
                          padding: 0px 5px;
                          display: flex;
                          align-items: center;
                          justify-content: end;
                        background-color: red;
                          & button {
                            margin: 0px auto;
                            border: none;
                            width: 40px;
                            height: 40px;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            & svg {
                              width: 30px;
                              height: 30px;
                            }
                          }
                        }
                      }
                    }
                    &.Sheet_pars_article {
                   
		    }
                    &.Sheet_pars_property {
                      overflow: hidden;
                      justify-content: space-between;
                      & .style-property {
                        display: flex;
                        width: calc(100% - 100px);
                        height: 60px;
                        position: relative;
                      }
                   }
                }
             }
            }
            }
            @media (max-width: 1007px) {
              & .navigasi-group-part {
                width: calc(100% - 300px);
              }
            }
          }
        }
      }
    }*/
    
    /*=== Blog Name ===*/
    & .blog-name {
      & .section, & #header {
        & .widget,& .HTML {
          & .widget-content {
            & .section-navigasi {
              top: 0px;
              left: 0px;
              right: 0px;
              width: 100%;
              max-width: 100%;
              margin: 0px;
              padding: 0px;
              z-index: 123;
              position: fixed;
              background-color: var(--bg-bars);
	      & .navigasi {
	        & .logo {
                  display: block;
                  margin: 0px;
		  padding: 0px;
                  & a.logo_name {
                    box-sizing: border-box;
                    align-items: center;
                    justify-content: start;
                    height: 60px;
                    width: auto;
                    font-size: 23px;
                    cursor: pointer;
                    padding: 0px 2.50px;
                    margin: 0px;
                    & svg.symbol {
                      width: 40px;
                      height: 40px;
                    }
                    & span.n_ {
	              color: var(--cl-logo);
		      font-weight: 700;
		      font-family: Stint Ultra Expanded;
                      -webkit-text-fill-color: transparent;
                      background: -webkit-gradient(linear,left top,left bottom,from(var(--text-logo-one)),to(var(--text-logo-two)));
                      background: -o-gradient(linear,left top,left bottom,from(#660ccc),to(#00ffff));
                      -webkit-background-clip: text;
                      & > span._net {
                        font-size: 25px;
			font-weight: 300;
                        font-family: 'Tangerine', serif;
                        color: var(--cl-logo);
                        -webkit-text-fill-color: transparent;
                        background: -webkit-gradient(linear,left top,left bottom,from(var(--text-logo-net)),to(var(--text-logo-net)));
                        background: -o-gradient(linear,left top,left bottom,from(#660ccc),to(#00ffff));
                        -webkit-background-clip: text;
                      }
                    }
                  }
                }
		&.navigasi-group-bars {
                  overflow: hidden;
                  width: 300px;
		  max-width: 300px;
		  display: block;
                  background-color: var(--bg-bars);
		  & .navbar-list-name {
		     display: block;
	            & .logo {
                      width: calc(100% - 0px);
		    }
		  }
		  & .navbar-list-post {
		    
		  }
                }
                &.navigasi-group-part {
                  margin: 0px;
                  width: calc(100% - 300px);
                  display: block;
                  position: relative;
		  & .NavSheet {
                    z-index: 40;
                    top: 0px;
                    left: 0px;
                    right: 0px;
		    width: 100%;
                    position: relative;
                    background: var(--bg-bars);
                    transition: top 0.5s;
		    & .Sheet {    
                      height: 60px;
                      max-height: 60px;
                      min-height: 60px;
                      align-items: center;
		      &.Sheet_pars_view {
			padding: 0px 0px 0px 0px;
			box-sizing: border-box;
                        justify-content: space-between;
		        & .Sheet_Pro_1 {
                          width: 100%;
                          display: none;
                          align-items: center;
                          justify-content: start;
                          & .menu_boxs {
                            width: 50px;
                            min-width: 50px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
			    & button {
                              margin: 0px auto;
                              border: none;
                              width: 40px;
                              height: 40px;
			      border-radius: 5px;
			      display: flex;
                              align-items: center;
                              justify-content: center;
                              background-color: transparent;
			      border: 0px var(--bg-line) solid;
                              & svg {
                                width: 30px;
                                height: 30px;
                              }
                            }
			  }
			  & .logo {
                            width: calc(100% - 50px);
			  }
		        }
			& .Sheet_Pro_0 {
			  display: flex;
			}
			& .Sheet_Pro_2 {
			  & .button_boxs {
                            margin: 0;
                            padding: 0;
                            height: 60px;
                            width: 100px;
                            box-sizing: border-box;
                            padding: 0px 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
			    & button {
                              margin: 0px auto;
                              border: none;
                              width: 40px;
                              height: 40px;
                              align-items: center;
                              justify-content: center;
                              background-color: transparent;
			     border: 0.50px var(--bg-line) solid;
                              & svg {
                                width: 30px;
                                height: 30px;
                              }
                            }
			  }
			}
		      }
		      &.Sheet_pars_article {
			      
		      }
		      &.Sheet_pars_property {
		        & .type-property {
                          & .shell-view-root {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            padding: 0px 0px 0px 0px;
                            box-sizing: border-box;
                            & .shell-typebars-stant {
                              width: 50px;
                              min-width: 50px;
                              height: 60px;
                              display: none;
    align-items: center;
    justify-content: center;
   & button {
               margin: 0px auto;
               border: none;
               width: 39px;
               height: 39px;
               display: flex;
               align-items: center;
               justify-content: center;
              
              & svg {
                width: 30px;
                height: 30px;
                }
	   &.button_four_pass{
   /* width: 40px;
  height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;*/
		   border-radius: 50%;
    }
	   &.button_service_pass {
	     background-color: transparent; 
	   }
              }
    }
 & .shell-typebars-search {
  margin: 0;
  padding: 0px 5px;
  box-sizing: border-box;
  width: calc(100% - 100px);
  height: 60px;
  background: var(--bg-trans);
  max-width: 600px;
  position: relative;
  align-items: center;
  justify-content: center;
    & form {
      width: 100%;
      height: 40px;
      border: 0.50px solid var(--bg-line);
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
             border-radius: 25px;
		box-sizing: border-box;
               position: relative;
background-clip: padding-box; 
                overflow: hidden;
      background-color: #d9ffe1;
              /* background: linear-gradient(90deg, #767eeb 0%, #434DED 50%, #FF0000 100%);*/
               box-shadow: 0 3px 6px rgba(217, 255, 225, 0.16), 0 3px 6px rgba(217, 255, 225, 0.23);
      & input[type="text"] {
                  font-weight: 500;
                  color: var(--text-note);
                  outline: none;
                  font-size: 14px;    
                  border-width: 0;
		  padding: 11px 70px 11px 11px;
                  
                  background-color: var(--bg-post);
  box-sizing: border-box;
                  width: 100%;
                }
    & button.type-reset {
      width: 30px;
      height: 30px;
top: 5px;
   
                right: 37.50px;
font-size: 12px;
                color: #111;
                display: none;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 32px;
                border-width: 0;
		position: absolute;
               border-radius: 50%;
             background-color: transparent;
                cursor: pointer;
           & svg {
             width: 20px;
             height: 20px;
             }
}
    & button.type-submit {       
        top: 5px;
   
                right: 5px;
        height: 30px;
                width: 30px;
        border-radius:  50%;
font-size: 12px;
                color: #111;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 32px;
                border-width: 0;
		position: absolute;
background-color: var(--bg-view);
      & svg {
             width: 20px;
             height: 20px;
             }
        }
    &:hover,
     &:focus {
       & button.type-reset {
          display: flex;
        }
      }
  }
}
 & .shell-typebars-btn {
    width: 150px;
       min-width: 150px;
       height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    box-sizing: border-box;
    & button {
               margin: 0px auto;
               border: none;
               width: 39px;
               height: 39px;
               display: flex;
               align-items: center;
               justify-content: center;
              
              & svg {
                width: 30px;
                height: 30px;
                }
    }
    & a {
               margin: 0px auto;
               border: none;
               width: 40px;
               height: 40px;
               align-items: center;
               justify-content: center;
              /*background-color: transparent;*/  
      border-radius: 5px;
      border: 0px var(--bg-line) solid;
              & svg {
                width: 30px;
                height: 30px;
                }
              }
    }
}
}
		      }
		    }
		  }
	        }
	      }
	      @media (max-width: 1007px) {
		& .navigasi {
                  &.navigasi-group-bars {
                    width: 0px;
		    max-width: 0px;
		    display: block;
                  }
		  &.navigasi-group-part {
                    width: calc(100% - 0px);
		    & .NavSheet {
		      & .Sheet {
			&.Sheet_pars_view {
			  & .Sheet_Pro_1 {
			    display: flex;
			  }
			  & .Sheet_Pro_0 {
			    display: flex;
			  }
			}
			&.Sheet_pars_property {
		          & .type-property {
			    & .shell-view-root {
                              justify-content: space-between;
                              & .shell-typebars-stant {
                                display: flex;
                              }
                              & .shell-typebars-search {
                                width: calc(100% - 200px);
				max-width: 600px;
                              }
                              & .shell-typebars-btn {
    
                              }
                            }
			  }  
			}
		      }
		    }
                  }
	        }
              }
	      @media (max-width: 640px) {
		& .navigasi {
                  &.navigasi-group-bars {
                    
                  }
		  &.navigasi-group-part {
		    & .NavSheet {
		      & .Sheet {
			&.Sheet_pars_view {
			  & .Sheet_Pro_1 {
				  
			  }
			  & .Sheet_Pro_0 {
			    display: none;
			  }
			}
		      }
		    }
                  }
	        }
              }
	    }
	  }
	}
      }
    }
    /*=== Page Body ===*/
    & .page_body {
      min-height: 100em;
      margin: 0;
      margin-left: 300px;
      width: calc(100% - 300px);
      max-width: calc(100% - 300px);
      position: relative;
      @media (max-width: 1007px) {
        margin-left: 0px;
        width: calc(100% - 0px);
	max-width: calc(100% - 0px);
    }
   /* max-width: var(--maxw-extrawidth); */
      & .centered {
        width: 100%;
        min-width: 100%;
     /* max-width: var(--maxw-extrawidth); */
        & .centered-bottom {
	  width: 100%;
          min-width: 100%;
       /* max-width: var(--maxw-extrawidth); */
          margin: 0;
	  padding: 0;
          position: relative;
	  display: flex;
	  align-items: start;
	  justify-content: center;
	  flex-direction: column;
          & main.main-container,& main#main {
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: var(--maxw-extrawidth);
	    & .featured-post.section,& .main.section {
              & .widget.HTML {
                & .widget-content {
                  & section.section-landing {
		    width: 100%;
		    margin: 0px;
		    padding: 0px;
		    position: relative;
		    & .group-title {
                      font-family: var(--ff-roboto);
                      margin: 10px auto;
                      position: relative;
                      & h2 {
                        font-family: var(--ff-dm);
                        font-size: 38px;
                        font-weight: 600;
                      }
                    }
                    & .group-typo {
                      font-family: var(--ff-roboto);
                      margin: 10px auto;
                      position: relative;
                      text-align: center;
                      & p {
                        line-height: 1.7;
                        font-family: var(--ff-dm);
                        font-size: 15px;
                        font-weight: 400;
                      }
                    }
	          }
                }
              }
            }
            & .main.section,& #page_body {
              margin:0px;
              padding: 0px;
              width: 100%;
	      /*max-width: 100%;*/
              display: block;
	      position: relative;
	     /* & .widget.HTML {
                & .widget-content {
		  & section.section-landing {
		  
		  }
		}
	      }*/
	      & .widget.Blog,& #Blog1 {
		width: 100%;
		/*max-width: 3000px;*/
		display: flex;
                align-items: center;
                justify-content: center;
		flex-direction: column;
                @media (max-width: 900px) {
	          /*max-width: 800px;*/
	        }
	      } /*= @media max 900px =*/
            }
	  } /*====  Tag Main Css end ====*/
        }
      }
    }
    & .footer, & #footer {
      & .section-landing-footer {
        background-color: var(--bg-landing-footer);
        & .landing-footer {
          & .list_footer_social {
           display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.50px #8DFFA5 solid;
  & a.link {
  width: 40px;
  height: 40px;
  margin: 15px 10px;
  border-radius: 50%;
  border: 1px #a6ffb9 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ffe1;
  & svg {
    width: 25px;
   height: 25px;
    }
  }
  }
 & .list_footer_link {
display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  margin-top: 10px;
                  margin:0px;
                  padding: 5px;
                  width: 100%;
                  box-sizing: border-box;
                  gap: 4px;
                  align-items: start;
                  justify-items: start;
		  @media(max-width: 540px) {
                    grid-template-columns: repeat(2, 1fr);
                  }
  
  & .list_link {
    width: calc(100% - 40px);
    margin-left: 0px;
    display: block;
    
    list-style: none;
    /*background: pink;*/
    position: relative;
    & li {
      line-height: 1.8;
      display: block;
      margin: 5px 5px 5px -20px;
      box-sizing: border-box;
      & span {
        color: var(--text-title);
        font-size: 14px;
        font-weight: 700;
        }
      & a {
        color: var(--text-typo);
        font-size: 16px;
        font-weight: 600;
        padding: 3px 0px;
        box-sizing: border-box;
        border-bottom: 1px transparent solid;
        &:hover{
          border-bottom: 1px #111 solid;
          }
        }
      }
    }
  }
}
}
  
    }
  }



	
  & #Page1 {
    & .container-landing-page {
      width: 100%;
      min-width: 100%;
    }
  }

  
  
      
  & .dasboard_search {
  width: 100%;
  align-items: center;
  justify-content: center;
  & .content_search {
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin-top: 50px;
    border-radius: 5px;
    background: var(--bg-bars);
    }
  }
  & .menu_link_bars {
     width: 100%;
     align-items: center;
     justify-content: center;
     & .menu_main_bars {
        top:60px;
	left: 0px;
	right: 0px;
        width: 100%;
        max-width: 100%;
        position:fixed;
        z-index: 100;
        background-color: var(--bg-bars);
        height: 60px;
        border-radius: 0px 0px 0px 0px;
	border-bottom: 0px #767EEB solid;
        display: flex;
        justify-content: start;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0px 0px;
	box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
       /* box-shadow:0 2px 6px 0 rgba(0,0,0,.1);*/
        @media (max-width: 800px) {
               border-radius: 0px 0px 0px 0px;
               padding: 0px 0px;
	       border-bottom: 0px #767EEB solid;
        }
        & .menu_page_link{
           position: relative;
           top: 0px;
           height: 60px;
           width: 100%;
           margin-left: 0px;
           padding: 0 0;
           padding-right: 5px;
           scroll-snap-type: x mandatory;
           overflow-x: scroll;
           overflow-y: hidden;
           display: flex;
           align-items: center;
           border-radius: 0px;
           left: 0%;
           & .btn_link {
              width: auto;
              height: 30px;
              padding: 2px 10px;
              border-radius: 5px;
              border: 1px solid #ddd;
              margin: 0px 3px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 0 0 auto;
              position: relative;
              overflow: hidden;
              background-color: transparent;
              z-index: 1;
              &:hover {
                background-color: var(--bg-link-hover);
              }
              &:active {
                transform: translateY(1px);
                filter: saturate(150%);
              }
              & svg {
                width: 20px;
                height: 20px;
              }
              & span {
                font-size: 15px;
                font-weight: 500;
                margin-left: 8px;
                color: var(--text-list);
              }
           }
        }
     }
	  
    /*=== Blog Footer ===*/
    & .blog-footer {
      margin-left: 300px;
      width: calc(100% - 300px);
      max-width: calc(100% - 300px);
      & .footer.section, & #footer {
        & .Attribution,& .Attribution1 {
          & .widget-content {
	    & .section-navigasi {
	      & .navigasi {
			
	      }
	    }
	  }
	}
	& .widget.HTML {
	  & .widget-content {
	    & .section-landing-footer {
	      & .footer-content {
		& .footer-content-list {
                  & .list_footer_social {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1.50px #8DFFA5 solid;
                    & a.link {
                      width: 40px;
                      height: 40px;
                      margin: 15px 10px;
                      border-radius: 50%;
                      border: 1px #a6ffb9 solid;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #d9ffe1;
                      & svg {
                        width: 25px;
                        height: 25px;
                      }
                    }
                  }
                  & .list_footer_link {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    margin-top: 10px;
                    margin:0px;
                    padding: 5px;
                    width: 100%;
                    box-sizing: border-box;
                    gap: 4px;
                    align-items: start;
                    justify-items: start;
		      @media(max-width: 640px) {
                        grid-template-columns: repeat(2, 1fr);
                      }
                    & .list_link {
                      width: calc(100% - 40px);
                      margin-left: 0px;
                      display: block;
                      list-style: none;
                    /*background: pink;*/
                      position: relative;
                      & li {
                        line-height: 1.8;
                        display: block;
                        margin: 5px 5px 5px -20px;
                        box-sizing: border-box;
                        & span {
                          color: var(--text-title);
                          font-size: 14px;
                          font-weight: 700;
                        }
                        & a {
                          color: var(--text-typo);
                          font-size: 16px;
                          font-weight: 600;
                          padding: 3px 0px;
                          box-sizing: border-box;
                          border-bottom: 1px transparent solid;
                          &:hover{
                            border-bottom: 1px #111 solid;
                          }
                        }
                      }
                    }
                  }
                  & .list_footer_bottom {
                    width: 100%;
                    height: 50px;
                    background-color: #000080;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    & span {
                      left: 25px;
                      color: #fff;
                      font-size: 13px;
                      font-weight: 300;
                      position: relative;
                    }
                  }
                }
	      }
	    }
	  }
        }
      }
      @media (max-width: 1007px) {
        margin-left: 0px;
        width: calc(100% - 0px);
	max-width: calc(100% - 0px);
      }
    }  /*=== Close Blog Footer ===*/
  }  /*=== Page end ===*/
}  /*=== Data Version end ===*/






/*==============================
 Css Data Feed View
==============================*/
.feed-view {
  & .page {
    & .blog-name {
      & .section, & #header {
        & .widget,& .HTML {
          & .widget-content {
            & .section-navigasi {
	      height: 60px;
              max-height: 60px;
	      display: flex;
	      & .navigasi {
	        height: 60px;
                max-height: 60px;
                min-height: 60px;
		& .logo {
                  & a.logo_name {
                    &.Vhome {display:flex}
                    &.Vpage {display:none}
                  }
                }
		&.navigasi-group-part {
                  & .NavSheet {
		    height: 60px;
                    max-height: 60px;
                    min-height: 60px;
		    & .Sheet {
		      &.Sheet_pars_view {
		        display: flex;
		        & .Sheet_Pro_2 {
                          & .button_boxs {
                            & button.button_list_pass {
                              display: flex;
                            }
                            & button.button_share_pass {
                              display: none;
                            }
                            & button.button_setting_pass {
                              display: flex;
                            }
                          }
                        }
		      }
		      &.Sheet_pars_article {
		        display: none;
		      }
		      &.Sheet_pars_property{
		        display: none;
			& .type-property {
                          & .shell-view-root {
			    & .shell-typebars-search {
			      display: none;
			    }
			    & .shell-typebars-article {
			      display: flex;
			    }
			  }
			}
		      }
		    }
                  }
			.NavBlock {
  &.Block_part_view {
    display: flex;
   }
  &.Block_part_artcat {
    display: none;
   }

}
	      }
	    }
	  }
	}
      }
    }
    }
    & .page_body {
      padding-top: 60px;
      & .centered {
        & .centered-bottom {
          & main.main-container,& main#main {
	    & .featured-post.section, & .main.section {
              & .widget.HTML {
                & .widget-content {
                  & section.section-landing {
		    display: block;
		  }
                }
              }
            }
	    & .article-central-container {
		    & .sidebar-landing-article {
			    display: none;
		    }
	    }
	    & .main.section,& #page_body {
		display: block;
	      & .widget.HTML {
                & .widget-content {
                   
                }
              }
	      & .widget.Blog,& #Blog1 {
		& .blog-pager-land a.blog-pager-older-land,
                & .blog-pager a.blog-pager-older-link {
                  color: #fff;
                  font-size: 18px;
                  font-weight: 400;
                  padding: 10px 20px;
                  background: #2571f5;
                  text-align: center;
                  border-radius: 25px;
                  box-sizing: border-box;
                  text-transform: capitalize;
                }
		& .blog-pager-land {
		  width: 100%;
                  height: 80px;
                  margin:0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
		}
		& .blog-pager {
                  display: none;
		}
                & .blog-posts.hfeed.container {
                  display: grid;
                  gap: 2;
                  margin-top: 10px;
                  margin: 0px;
                  padding: 0px 10px;
                  width: 100%;
                  max-width: 100%;
                  box-sizing: border-box;
                  grid-template-columns: repeat(3, 1fr);
                  align-items: start;
                  justify-items: center;
                 /* background: red;*/
                  @media(max-width: 1007px) {
                    /*max-width: 700px;*/
                    grid-template-columns: repeat(2, 1fr);
                  }
	          @media(max-width: 640px) {
                    max-width: 100%;
                    grid-template-columns: 1fr;
                  }
                  & article.post-outer-container {
                    width: 100%;
                    padding: 0px;
                    max-width: 95%;
                    margin: 5px auto;
                    display: inline-block;
                    /*background: navy;*/
                    & .post-outer {
                      width: 100%;
                      height: auto;
                      max-width: 100%;
                      position: relative;
                      display: block;
                      box-sizing: border-box;
                      border-radius: 5px;
                      border: 0px transparent solid;
                      background: linear-gradient(to right, var(--cl-lg-A), var(--cl-lg-C));
                      background-clip: padding-box; 
                      & .post-wrapper {
                        max-width: 100%;
                        margin: 0px;
                        border-radius: 5px;
                        border: 2px transparent solid;
                        background-clip: padding-box; 
                        & .post {
                          width: auto;
			  background-color: var(--bg-view);
			  /*background: linear-gradient(to right, #ffffff, #aeaaea);*/
                          padding: 10px 7px;
                          box-sizing: border-box;
                          & .post-title-container  {
                            & .post-title.entry-title {
                              & .snippet-container.r-snippet-container {
                                & .r-snippetized {
                                  font-family: var(--ff-roboto);
                                  padding: 5px 0px;
                                  font-size: 18px;
                                  line-height: 1.5;
                                  color: var(--text-post);
                                  box-sizing: border-box;
                                  width: 100%;
                                  overflow: hidden;
                                  -webkit-box-orient: vertical;
                                  -webkit-line-clamp: 2;
                                  display: -webkit-box;
                                }
                              }
                            }
                          } 
                          & .post-body.entry-content {
  
                          }
                          & .post-footer.container {
                            display: none;
                          }
                          & .post-header {
                            margin-top: 0px;
                            & .post-header-line-1 {
                              & .byline.post-timestamp {
                                & a.timestamp-link {
                                  margin-left: 10px;
				  width: auto;
                                  font-weight: 600;
                                  font-size: 14px; 
                                  padding: 5px 10px;
                                  border-radius: 25px;
                                  border: 0.50px rgba(141,250,8,0.8) solid;
                                  position: relative;
                                  box-sizing: border-box;
                                  display: inline-block;
                                  text-align: center;
				  font-family: 'Lato' , sans-serif;
                                  & time.published {
                                    color: var(--text-note);
                                  }
                                }
                              }
                              & .labels-outer-container {
                                & .labels-container.overflowable-container.overflowable-no-popup {
                                  & .labels-items.overflowable-contents.byline.post-labels {
                                    & .overflowable-item {
                                      & a[rel="tag"] {
	                                color: #fff;
                                        background: #888;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
	      }
	    }
	  }
        }
      }
    }
  }

  &:is(.label-view, .search-view, .archive-view) {
    & .page {  
      & .blog-name {
        & .section, & #header {
          & .widget,& .HTML {
            & .widget-content {
              & .section-navigasi {
	        height: 120px;
                max-height: 120px;
		& .navigasi {
	        height: 120px;
                max-height: 120px;
                min-height: 120px;
		& .logo {
                  & a.logo_name {
                    &.Vhome {display:none}
                    &.Vpage {display:flex}
                  }
                }
		&.navigasi-group-part {
                  & .NavSheet {
		    height: 120px;
                    max-height: 120px;
                    min-height: 120px;
		    & .Sheet {
		      &.Sheet_pars_view {
		        display: flex;
		      }
		      &.Sheet_pars_article {
		        display: none;
		      }
		      &.Sheet_pars_property {
		        display: flex;
			& .type-property {
                          & .shell-view-root {
			    & .shell-typebars-btn {
			      & a.link_blog_pass {
			        display: flex;
			      }
			      & a.link_share_pass {
			        display: none;
			      }
			      & a.link_setting_pass {
		       	        display: flex;
			      }
			    }
			  }
		        }
		      }
		    }
                  }
	        }
	      }
	    }
	  }
	}
      }
    }
    & .page_body {
      padding-top: 120px;
      & .centered {
        & .centered-bottom {
          & main.main-container,& main#main {
	    & .featured-post.section, & .main.section {
              & .widget.HTML {
                & .widget-content {
                  & section.section-landing {
		    display: none;
		  }
                }
              }
            }
	    & .article-central-container {
	      & .sidebar-landing-article {
	        display: block;
	      }
	    }
	    & .main.section,& #page_body {
	      flex-direction: column;
	      & .widget.HTML {
                & .widget-content {
        
                }
              }
              & .widget.Blog,& #Blog1 {
	        & .blog-pager-land {
		  display: none;
		}
		& .blog-pager {
                  display: flex;
		}
               /* & .blog-posts.hfeed.container {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  margin-top: 10px;
                  margin:0px;
                  padding: 0px;
                  width: 100%;
                  box-sizing: border-box;
                  gap: 4px;
                  align-items: start;
                  justify-items: center;
		  @media(max-width: 1374px) {
                    grid-template-columns: repeat(3, 1fr);
                  }
                  @media(max-width: 1007px) {
                    grid-template-columns: repeat(2, 1fr);
                  }
                  @media(max-width: 640px) {
                    grid-template-columns: 1fr;
                  }	    
                  & article.post-outer-container {
                    width: 337px;
                    margin: 5px auto;
                    display: inline-block;
                    & .post-outer {
                      width: auto;
                      & .post-wrapper {
			width: 337px;
		        margin-left: 0px
                        border-radius: 5px;
                        border: 1px #ddd solid;
                        background-color: var(--bg-bars);
                        & .post {
                          background-color: var(--bg-bars);
                          padding: 10px 7px;
                          box-sizing: border-box;
                          & .post-title-container  {
                            & .post-title.entry-title {
                              & .snippet-container.r-snippet-container {
                                & .r-snippetized {
                                  font-family: var(--ff-roboto);
                                  padding: 5px 0px;
                                  font-size: 22px;
                                  line-height: 1.5;
                                  color: var(--post-title);
                                  box-sizing: border-box;
                                  width: 100%;
                                  overflow: hidden;
                                  -webkit-box-orient: vertical;
                                  -webkit-line-clamp: 2;
                                  display: -webkit-box;
                                }
                              }
                            }
                          } 
                          & .post-body.entry-content {
  
                          }
                          & .post-footer.container {
                            display: none;
                          }
                          & .post-header {
                            margin-top: 20px;
                            & .post-header-line-1 {
                              & .byline.post-timestamp {
                                & a.timestamp-link {
                                  margin-left: 15px;
                                  & time.published {
                                    color: var(--text-link);
                                  }
                                }
                              }
                              & .labels-outer-container {
                                & .labels-container.overflowable-container.overflowable-no-popup {
                                  & .labels-items.overflowable-contents.byline.post-labels {
                                    & .overflowable-item {
                                      & a[rel="tag"] {
	                                color: #fff;
                                        background: #888;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }*/
              }
            }
          }
        }
      }
    }
  }
}


	&.label-view, &.search-view, &.archive-view {
        & .page {
        & .page_body {
        & .centered {
          & .centered-bottom {
            & main.main-container,& main#main {
	      & .main.section,& #page_body {
	        & .widget.HTML {
                  & .widget-content {
                    & .blog-group-landing-article {
		      display: none;
		    }
                  }
                }
	      }
	    }
	  }
        }
      }
    }
    & .viewbox_search_filter {
       & .post-filter-message {
          width: 100%;
          max-width: var(--maxw-width);
          background-color: var(--bg-bars);
       }
     }
   } /*=== Data Search,Label,Archive View end ===*/
 } /*=== Data Feed View end ===*/






/*==============================
 Css Data Item View
==============================*/
.item-view {
  & .page {
    & .blog-name {
      & .section, & #header {
        & .widget,& .HTML {
          & .widget-content {
            & .section-navigasi {
	      height: 120px;
              max-height: 120px;
	      display: flex;
	      & .navigasi {
	        height: 120px;
                max-height: 120px;
                min-height: 120px;
		& .logo {
                  & a.logo_name {
                    &.Vhome {display:none}
                    &.Vpage {display:flex}
                  }
                }
		&.navigasi-group-part {
                  & .NavSheet {
		    height: 120px;
                    max-height: 120px;
                    min-height: 120px;
		    & .Sheet {
		      &.Sheet_pars_view {
		        display: flex;
			& .Sheet_Pro_2 {
                          & .button_boxs {
                            & button.button_list_pass {
                              display: none;
                            }
                            & button.button_share_pass {
                              display: flex;
                            }
                            & button.button_setting_pass {
                              display: flex;
                            }
                          }
                        }
		      }
		      &.Sheet_pars_article {
		        display: none;
		      }
		      &.Sheet_pars_property {
	   	        display: flex;
			& .type-property {
                          & .shell-view-root {
			    & .shell-typebars-search {
			      display: flex;
			    }
			    & .shell-typebars-article {
			      display: none;
			    }
			    & .shell-typebars-btn {
			      & a.link_blog_pass {
			        display: none;
			      }
			      & a.link_share_pass {
			        display: flex;
			      }
			      & a.link_setting_pass {
		       	        display: flex;
			      }
			    }
			  }
		        }
	   	      }
	  	    }
                  }
	        }
	      }
	    }
	  }
	}
      }
    }
    & .page_body {
      padding-top:120px;
      & .centered {
        & .centered-bottom {
          & main.main-container,& main#main {
	    & .featured-post.section,& .main.section {
              & .widget.HTML {
                & .widget-content {
                  & section.section-landing {
		    display: none;
		  }
                }
              }
            }
	    & .main.section,& #page_body {
	      background-color: var(--bg-page);
              & .widget.Blog,& #Blog1 {
                & .blog-posts.hfeed.container {
                  display: block;
                  margin-top: 10px;
                  margin:0px;
                  padding: 0px;
                  width: 100%;
                  box-sizing: border-box;
                
                  @media(max-width: 1600px) {
                    
                  }
                  @media(max-width: 900px) {
                    
                  }	    
                  & article.post-outer-container {
                    width: 100%;
                    max-width: 100%;
                    margin: 0px;
		    padding: 0px;
                    display: block;
                    & .post-outer {
		      margin: 0px;
		      padding: 0px;
		      width: 100%;
                      max-width: 100%;
                      position: relative;
                      display: block;
                      & .post-wrapper {
			margin: 0px;
		        padding: 0px;
                        width: 100%;
			height: 100%;
                        max-width: 100%;
			min-height: 100%;
			background-color: var(--bg-page);
			&.post-8467047154985027683,
			&.post-9035845986576711372,
			&.post-2095919700176105773 {
                          & .slide {
                            & .post {
                              & .listcallmaps {
                                display:none
                              }
                            }
                          }
                        }
                        & .post {
                          margin: 0px;
		          padding: 0px;
                          box-sizing: border-box;
			  & .listcallmaps {
                            padding: 5px 10px;
                            box-sizing: border-box;
                            display: block;
                            position: relative;
                            background-color: var(--bg-view);
                            & ul.Ckr {
                              width: 100%;
                              margin: 0;
                              padding: 0;
                              list-style: none;
                              position: relative;
                              & li {
                                height: auto;
    margin: 0px -5px 3px 0px;
    padding: 0px 5px 0px 20px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    & svg {
      z-index: 2;
      position: absolute;
	    &.svg-ring {
      top: -2px;
left: -4px;
width: 25px;
      height: 25px;
}
&.svg-link {
      top: 1px;
left: 0px;
width: 20px;
      height: 20px;
}
    }
    & a {
      color: var(--text-link);
      font-size: 14px;
      font-weight: 500;
      padding: 1px 5px 0px 5px;
      box-sizing: border-box;
      }
                                &:first-child {
                                 /* padding: 0px 5px 0px 0px;*/
                                  & svg {
					  &.svg-ring {
                                    display: block;
					  }
					  &.svg-link {
                                    display: none;
					  }
                                  }
                                }
                              }
                            }                         
                          }
                          & .post-title-container  {
                            & .post-title.entry-title {
                              & .snippet-container.r-snippet-container {
                                & .r-snippetized {
                                /*  font-family: var(--ff-roboto);
                                  padding: 5px 0px;
                                  font-size: 22px;
                                  line-height: 1.5;
                                  color: var(--post-title);
                                  box-sizing: border-box;
                                  width: 100%;
                                  overflow: hidden;
                                  -webkit-box-orient: vertical;
                                  -webkit-line-clamp: 2;
                                  display: -webkit-box;*/
                                }
                              }
                            }
                          } 
                          & .post-body.entry-content {
  
                          }
                          & .post-footer.container {
                            display: none;
                          }
                          & .post-header {
                            margin-top: 20px;
                            & .post-header-line-1 {
                              & .byline.post-timestamp {
                                & a.timestamp-link {
                                  margin-left: 15px;
                                  & time.published {
                                    color: var(--text-link);
                                  }
                                }
                              }
                              & .labels-outer-container {
                                & .labels-container.overflowable-container.overflowable-no-popup {
                                  & .labels-items.overflowable-contents.byline.post-labels {
                                    & .overflowable-item {
                                      & a[rel="tag"] {
	                                color: #fff;
                                        background: #888;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  




	
  & .dasboard_search {
    display: none;     
  }
  
  & .menu_link_bars {
    display: flex;
  }
  & .list-btn-article {
     text-align: center;
     min-width: 150px;
     padding: 0px 10px;
     box-sizing: border-box;
   /*background: red;*/
  & a {
  color: var(--text-title);
  width: auto;
  border-radius: 5px;
  padding: 8px 10px;
  border: 0.50px #ddd solid;
  margin: 0px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /*background: #434DED;*/
  background-position: center;
  transition: background 0.8s;
     & svg {
       width: 25px;
       height: 25px;
     }
     & span {
       margin-left: 10px;
     }
     &:hover {
       background: var(--bg-link-hover) radial-gradient(circle, transparent 1%, var(--bg-link-hover) 1%) center/15000%;
     }
     &:active {
       background-color: #6eb9f7;
       background-size: 100%;
       transition: background 0s;
     }
   }
 }
 & .date_page_rell{
position: relative;
top: 0px;
height: 60px;
width: 100%;
margin-left: 10px;
padding: 0 0;
padding-right: 5px;
scroll-snap-type: x mandatory;
overflow-x: scroll;
overflow-y: hidden;
display: flex;
align-items: center;
border-radius: 0px;
left: 0%;
  & .btn_sel{
    height: 60px;
    width: auto;
    border: none;
    padding: 2px 10px;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
      & svg {
        width: 20px;
        height: 20px;
      }
      & span {
        font-size: 15px;
        margin-left: 10px;
        font-weight: 500;
        color: var(--text-list);
      }
      &::before {
         content: "";
         position: absolute;
         z-index: -1;
         bottom: -40px;
  /*background: #7952b3;*/
         background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
         height: 40px;
         width: 90%;
         max-width: 100%;
         border-radius: 12px;
         transform: scale(1);
         transform-origin: 50% 50%;
         transition: transform 1.25s ease-out;
      }
      &:hover::before {
        bottom: -33px;
      }
    }
  }
  & article.post-outer-container section.comments {display:none}
  } /*==== Page Item View End ====*/
}  /*===== Data Item View end =====*/






/*==============================
 Css Data Error View
==============================*/
.error-view {
  & .page {
    & .blog-name {
      & .section, & #header {
        & .widget,& .HTML {
          & .widget-content {
            & .section-navigasi {
	      display: none;
	    }
	  }
	}
      }
      & .navbar {
	& .navbar-sticky {
          & .navbar-left {
	    & .logo {
	      & .logo_name {
	        &.home {
	  	  display: none;
	        }
                &.view {
        	  display: flex;
	        }
	      }
	    }
	  }
        }
	& .navbar-centralized {
	  
	}
      }
    }
    & .page_body {
      & .centered {
        & .centered-bottom {
          & main.main-container,& main#main {
	    & .featured-post.section,& .main.section {
              & .widget.HTML {
                & .widget-content {
		  & section.section-landing {
                    display: none;
		  }
		}
	      }
	    }
	  }
	}
      }
    }  /*==== Page Body Error View End ====*/
  }  /*====== Page Error View End ======*/
}  /*======== Data Error View end ========*/

