/*================================
  Cookies Bars
=================================*/
.Cookies_Bars {
  z-index: 9000;
  left: 0px;
  bottom: 0px;
  height: none;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  animation: slide-in 1.0s .8s ease both;
  & .Cookies {
      width: 100%;
      max-width: 800px;
      background: #fff;
      padding: 3px 5px;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      & span {
        line-height: 1.5;
        font-size: 13px;
        & a {
          font-size: 13px;
          border-bottom: 1px #ccc solid;
        }
      }
      & .label_confir {
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        & label {
          color: #fff;
          padding: 5px 10px;
          background: #111;
          border-radius: 5px;
        }
      }
    }
}
 input[id="ConfirmCookies-Yes"] ~ .sidebar-container .Cookies_Bars {
  display: flex;
}
 input[id="ConfirmCookies-Yes"]:checked ~ .sidebar-container .Cookies_Bars {
  display: none;
}
