
.section-document {
 & .document-content {
   line-height: 1.7;
   font-family: var(--ff-roboto);
   padding: 5px 10px;
   box-sizing: border-box;
   & p,& ul li {
     color: var(--text-para);
     font-size: 15px;
     }
   & h2,& h3,& h4 {
     color: var(--text-post);
     margin-bottom: -15px;
     position: relative;
     }
   }
}



