
.section-document {
 & .docs_time_update {
  & span {
  font-size: 14px;
  color: var(--text-title);
  padding: 5px 10px;
  box-sizing: border-box;
    }
  }
 & .document-content {
   line-height: 1.7;
   font-family: var(--ff-roboto);
   padding: 5px 10px;
   box-sizing: border-box;
   & p,& ul li {
     color: var(--text-para);
     font-size: 15px;
     }
   & h2,& h3,& h4 {
     color: var(--text-post);
     margin-bottom: -15px;
     position: relative;
     }
   }
}



