.landing-ringkasan-page {
    width: 100%;
    padding: 0px 0px 15px 0px;
    border-bottom: 0.50px var(--bg-line) solid;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    
   & .paragraphy {
    color: var(--post-typo);
    box-sizing: border-box;
    padding: 5px 10px;
     display: flex;
      border: none;
      align-items: start;
      justify-content: space-between;
    & .typo-title {
    width: 100%;
    display: block;

      & h2 {
        font-size: 27px;
      font-family: var(--ff-dm);
      margin-bottom: -15px;
        line-height: 1.4;
      }
    & h4 {
      opacity: 0.50;
      font-size: 18px;
      font-weight: 400;
      }
    & span {
    color: var(--post-typo);
    }
    
    & button {
      width: 30px;
      height: 30px;
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      & svg {
        width: 20px;
        height: 20px;
        }
      }
    }
    & button.btn-info-ringkas {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      margin-left: 5px;
bottom: -25px;
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: var(--bg-view);
position: relative;
      & svg {
        width: 20px;
        height: 20px;
        }
      }
  }
   & .view-ringkas-bars {
    width: auto;
    max-width: 100%;
    margin: 0px 9px;
    box-sizing: border-box;
    padding: 5px 5px;
   /* background: var(--bg-post);*/
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0.5px var(--bg-line) solid;
    justify-content: space-between;
    position: relative;
    & .filter-bars {
      width: 100%;
      display: flex;
    align-items: center;
      justify-content: start;
      
      & .button_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    &.bf_3_slot {
      min-width: 150px;
    }
    &.bf_2_slot {
      min-width: 100px;
    }
    &.bf_1_slot {
      min-width: 50px;
    }
    & button {
      width: 40px;
      height: 40px;
      border: 0.5px var(--cl-border) solid;
      margin: 0px auto;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-btn-click);
      & svg {
        width: 30px;
        height: 30px;
        }
      }
    }
      }
    & .viewlayout-bars {
      min-width: 90px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: navy;
    }
    }
    }
