.section-landing-division {
 & .card-division { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-bottom: 30px;
        position: relative;
        & .section-cardbars-division {
          width: 100%;
          display: flex;
          margin-top: 30px;
          margin-bottom: 0px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          max-width: 600px;
          & .box-icon {
            position: relative;
            z-index: 0;
            width: 250px;
            height: 250px;
            min-width: 250px;
            min-height: 250px;
            margin: 0px;
            border-radius: 50%;
            overflow: hidden;
            padding: 5px;
            box-sizing: border-box;
            &:hover {
              box-shadow: var(--btn-shadow);
              }
         &:hover::before {   
           background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
           animation: profile-rotate 4s linear infinite;
         }
         &::before {
           content: '';
           position: absolute;
           z-index: -2;
           left: -50%;
           top: -50%;
           width: 250%;
           height: 250%;
         /*background-color: #1a232a;*/
           background-color: #B7DFFF;
           background-repeat: no-repeat;
           background-position: 0 0;
         }
           &::after {
             content: '';
             position: absolute;
             z-index: -1;
             left: 6px;
             top: 6px;
             width: calc(100% - 12px);
             height: calc(100% - 12px);
             background: rgba(168, 239, 255, 1);
             
             border-radius: 50%;
           }
           & .icon {
              width: 100%;
              height: 100%;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              & svg {
                width: 120px;
                height: 120px;
              }
            }
           &  h2 {
            color: var(--text-title);
            font-size: 22px;
            line-height: 1.2;
            font-weight: 500;
            margin-left: 10px;
            margin-top: 15px;
          } 
        
          }
          & h2 {
            color: #434DED;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.6;
            margin-bottom: -6px;
            }
          & > p {
            color: var(--text-para);
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            }
          & .button-visit-view {
  & a.btn_main {
  font-size: 16px;
  width: auto;
  color: var(--text-list);
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px 25px;
  box-sizing: border-box;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
          box-shadow: var(--btn-shadow);
          background: var(--bg-post);
          outline: none;
          background: var(--bg-btn-focus);
          /*background: #434DED;*/
          border: none;
          z-index: 1;
          &:active {
            transform: translateY(1px);
            filter: saturate(150%);
          }
        }
      }
    }
  }
}




.section-landing-program {
  & .content-program-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    & .content-view-program-more {    
      display: grid;
      margin: 0px;
      padding: 0px;
      width: auto;
      max-width: 100%;
      gap: 2;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      grid-template-columns: repeat(2, 1fr);
      & .card-program { 
        width: 100%;
        max-width: 600px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-bottom: 30px;
        position: relative;
        & .probox-icon-title {
          display: flex;
          margin-top: 0px;
          margin-bottom: 0px;
          align-items: start;
          justify-content: start;
          flex-direction: row;
          & h2 {
            color: var(--text-title);
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            margin-left: 10px;
            margin-top: -5px;
          }  
          & .box-icon {
            position: relative;
            z-index: 0;
            width: 150px;
            height: 150px;
            min-width: 150px;
            min-height: 150px;
            margin: 0px;
            border-radius: 50% 10px 50% 10px;
            overflow: hidden;
            padding: 5px;
            box-sizing: border-box;
         &:hover::before {   
           background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
           animation: profile-rotate 4s linear infinite;
         }
         &::before {
           content: '';
           position: absolute;
           z-index: -2;
           left: -50%;
           top: -50%;
           width: 250%;
           height: 250%;
         /*background-color: #1a232a;*/
           background-color: #67809F;
           background-repeat: no-repeat;
           background-position: 0 0;
         }
           &::after {
             content: '';
             position: absolute;
             z-index: -1;
             left: 6px;
             top: 6px;
             width: calc(100% - 12px);
             height: calc(100% - 12px);
             background: #f9f7ff;
             border-radius: 50% 8px 50% 8px;
           }
           & .icon {
              width: 100%;
              height: 100%;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              & svg {
                width: 120px;
                height: 120px;
              }
            }
          }
        }
        & .boxpro-deskripsi {
          margin-top: 15px;
          &::before {
            content:"";
            width: 65%;
            height: 5px;
            border-radius: 5px;
            position: absolute;
            background: linear-gradient(to right, #ff1010, #00ffff);
          }
          & p {
            color: var(--text-para);
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500;
          }
          & a {
            color: var(--text-para);
            font-size: 19px;
            line-height: 1.5;
            font-weight: 600;
            border-bottom: 2px #ccc solid;
            padding: 5px 0px;
            box-sizing: border-box;
          }
        }
      }
    }
    @media(max-width: 640px) {
      & .content-view-program-more {
        grid-template-columns: 1fr;
        & .card-program {
          flex-direction: column;
          & .probox-icon-title {
            flex-direction: column;
            & h2 {
              margin-left: 0px;
              margin-top: 10px;
            }
          }
          & .boxpro-deskripsi {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
@keyframes profile-rotate {
  100% {
    transform: rotate(1turn);
  }
}










.section-donation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: 130;
  left:0;
  right:0;
  bottom: 0; 
  background: rgba(25,25,25,0.4);
  opacity: 0.0;
  -webkit-transition: opacity 0.2s linear 0.05s;
  transition: opacity 0.2s linear 0.05s;
  transition: all 0.4s ease-in-out;
  -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
  &.show {
    opacity: 1.0;
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);
    transition-timing-function:cubic-bezier(.4,0,.2,1);
  }
  & .menu-modal-content {
    z-index: 12;
    height: calc(100% - 50px);
    margin: 0px 0px 0px 300px;
    border: 2px var(--bg-card) solid;
 /* max-width: 900px; */
    width: calc(100% - 300px);
    border-radius: 5px 5px 5px 5px;
    transition: 0.4s all;
    position: relative;
    transition: all 0.5s ease-in-out;
    background-color: var(--bg-post);
    @media (max-width: 1450px){
      margin: 0px 0px 0px 0px;
      width: calc(100% - 30px);
    }
    & .headbars_donation {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      & > span {
        color: var(--text-title);
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1.1px;
      }
      & > div {
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        & .close-donation {
          width: 35px;
          height: 35px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          & svg {
            width: 35px;
            height: 35px;
          }
        }
      }   
    }
    & .main_content_donation {
      overflow: auto;
      height: calc(100% - 150px);
      & .content_donation {
        width: 100%;
        height: auto;
        margin: 0px;
        display: block;
        background: var(--bg-post);
        padding: 5px 20px;
        box-sizing: border-box;
     /* background: var(--bg-view); */
        & h3 {
          color: var(--text-post);
          margin-bottom: -15px;
          position: relative;
       }
       & p {
         color: var(--text-note);
       }
     }
   }
   & .bars_action_donation {
     width: 100%;
     height: 100px;
     margin: 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: var(--bg-card);
     padding: 10px 20px;
     box-sizing: border-box; 
     & p {
       color: #fff;
       font-size: 13.50px;
       line-height: 1.3;
       max-width: 800px;
       }
     & a {
    /* color: var(--text-title);*/
       width: 100%;
       color: #111;
       font-weight: 600;
       min-width: 140px;
       max-width: 500px;
       height: 35px;
       text-align: center;
       border: 0.5px var(--cl-border) solid;
       border-radius: 25px;
       margin-left: 5px;
       padding: 6px 10px;
       box-sizing: border-box;
       background-color: #65F057;
      }
    }
  }
  & .overlay {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left:0;
    right:0;
    top: 0; 
    background: rgba(25,25,25,0.5);
    opacity: 0.0;
  }
}
